.appointment-list{
	.result{
		.header{			
			background-color: $positive;
			h3{
				color: white;					
				width: 100%;
				padding: 3px;
			    text-transform: uppercase;
			    font-size: 17px;	
			    strong{
			    	font-size: 13px;
			    	font-weight: normal;
			    }		    
			}			
		}
		.box{
			padding: 5px;
			&.bilan{
				font-weight: bold;
				.title{
					font-style: normal;
				}
			}
			.title{
				font-style: italic;
				text-align: center;
				margin-bottom: 5px;
			}
			.value{
				text-align: center;
			}
		}
		.item{
			margin-bottom: 0;
			padding-right: 3px;
			padding-left: 3px;
		}
	}
	.month-week-view{
		.item{
			color: white;

			.item-content{
				padding: 3px;
			}
			margin-bottom: 5px;
			margin-top: 0px;
		}
		.service{
			background-color: $color_service;
			margin-left: 2px;
		}
		.c-1{
			background-color: $color_appointment;
			margin-right: 3px;
		}
		
		.row.row-2{
			margin-top: 0;
			padding: 5px;
			padding-left: 0;
			padding-top: 2px;
			strong{
		    	font-size: 10px;		    	
		    }
		}
	}
	.day-view{		
		.row{
			margin-top: 5px;
			margin-bottom: 5px;
			&.total-row{
				background-color: $color_appointment;
				color: white;
				margin-bottom: 5px;
				.title{
					color: white;
				}
			}
		}
		.sale .title{
			color: $color_sale;
		}
		.notSuite .title{
			color: red;
		}
		.service .title{
			color: $color_service;
		}
	}
	.hour-view{
		.list{
			.item{
				margin-top: 5px;
				padding-left: 0;
				padding-right: 0;
				.item-content{
					padding: 3px;
					.status{
						font-style: italic;
					}
					.reported{
						color: $color_pands;
					}
					.confirmed{
						color: $color_appointment;
					}					
					.absent{
						color: black;
					}
					.sale{
						color: $color_sale;
					}
					.preview-service{
						color: #E9BA91;
					}
					.on-service{
						color: #E9BA91;	
					}
				}
				.value{
			        &.time{
			        	font-weight: bold;
			        }
			        &.user{
			        	font-weight: bold;	
			        }
				}
			}
		}
	}
}
.appointment-create{
	.section-1, .section-2{
		.client-prospect{
			color: $color_client;
		}
		.pands{
			color: $color_pands;	
		}
		.prospector{
			color: $color_prospection;
		}
		.commercial{
			color: $color_sale;
		}
	}

	.padding-shadow-1{
		padding-left: $small_space;
		padding-right: $small_space;
	}
	.section{
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.time{
		padding: 10px;
		font-style: italic;
		font-size: 16px;
		.hour{
			text-align: right;
		}
		.month{
			text-align: center;
		}
	}
	.sale{
		&.button-positive{
			background-color: $color_prospection;
		}
	}
}