.filter-client{
	.item{
		border-style: none;
	}
}

.create-client{
	.pands{
		color: $color_pands;
		text-align: center;
		height: 80px;
		line-height: 80px;
		margin-top: 20px;
	}
	.prospect{
		&.button-positive{
			background-color: $color_prospection;
		}
	}
}