$color_text_heading_profile : #FDFDFE;
.dashboard{
	background-color: whitesmoke;
	.dashboard-heading{
		.title {
			position: absolute;
		    top: 30px;		    
		    width: 100%;
		    text-align: center;
		    font-size: 18px;
		    color: $color_text_heading_profile;
		    font-weight: bold;
		    >*{
		    	margin: 5px;
		    }
		}		
		.phone{
			position: absolute;
		    bottom: 36px;
		    left: 20px;		    
		    font-size: 12px;
		    color: $color_text_heading_profile;
		    font-weight: bold;
		}
		.side{
			position: absolute;
		    bottom: 10px;
		    right: 20px;
		    width:100%;
		    text-align: right;
		    padding-right: 10px;
		    font-size: 12px;
		    color: $color_text_heading_profile;
		    font-weight: bold;
		}
	}
	.circle{
	    width: 80px;
	    height: 80px;
	    background: white;
	   /* position: relative;*/
	    border-radius: 50%;
	    display: inline-block;	
	    border-color: #A8A3E1;
	    border-width: 5px;
	    border-style: solid;	    
	    .centered {
	    	text-align: center;
	    	padding-top: 25px;
	    	font-size: 25px;
	    	vertical-align: middle;
	    }	    
	}

	.ranking{
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		.box{
			padding: 0px 2px 0px 2px;
			.shadow-box{
				background-color: #A9A4E2;
				height: 70px;
				text-align: center;
				color: white;
				position: relative;
				.value{
					font-size: 18px;
					font-weight: bold;
				}

				i{				
					top: 15px;
					right: 20px;
					font-size: 16px;
					position: absolute;	
					&.same{
						font-size: 20px;
						transform: scaleX(1.5);
					}
					&.up{
						transform: rotate(45deg) scaleY(2);
					}
					&.down{
						transform: rotate(45deg) scaleY(2);
					}
				}
			}

		}
	}

	.stat-box{		
		padding: 10px;
		>*{
			background-color: white;
		}
		.item-value{
			text-align: center;
			margin: 3px;
		}
		.item-name{
			background-color: red;
			margin: 3px;
			color: white;
			padding-left: 5px;
			text-transform: capitalize;
		}
		.col0{
			padding: 20px 20px 0px 10px;
		}
		.box{
			text-align: center;
		}
		.summary{
			font-size: 16px;
			font-weight: bold;
			.name,.value{
				margin: 5px;
			}			
		}
		&.appointment{
			.summary{
				color: #a9a4e2;
			}
			.item-name{
				background-color: #a9a4e2;
			}
		}
		&.holding{
			.summary{
				color: #66d1b5;
			}
			.item-name{
				background-color: #66d1b5;
			}
		}
		&.facture{
			.summary{
				color: #66d1b5;
			}
			.item-name{
				background-color: #66d1b5;
			}
		}
		&.pands{
			.summary{
				color: #80cff9;
			}
			.item-name{
				background-color: #80cff9;
			}
		}

		&.ca{
			.summary{
				color: #70d0b3;
			}
			.item-name{
				background-color: #70d0b3;
			}
		}
		&.stock{
			.summary{
				color: #e9ba91;
			}
			.item-name{
				background-color: #e9ba91;
			}
		}


		
	}
	.stat{
		.button-bar{
			margin: 5px;
			.button{
			    height: 35px;
			    line-height: 35px;
			    min-height: 35px;
				background-color: transparent;
				color: $positive;
				&.button-positive{
					border-bottom: 4px solid $positive;
				}
			}
		}
		.two-band{
			margin-top: 20px;
			margin-bottom: 20px;
			 .band{					 	 				 	
			 	>.shadow-box{
			 		// padding-top: 20px;
			 		padding-bottom: 20px;
					background-color: white;	
			 	}
			 	text-align: center;
			 	.circle{
			 		line-height: 70px;
			 	}	
			 	.rect-container{
			 		padding: 10px;	
			 		margin-top: 20px;		 		
				 	.rect{
				 		padding-top: 30px;
				 		background-color: #E9EAEC;
				 		.value, 
				 		.title{
				 			padding: 20px 0px 10px 0px;
				 		}
				 	}	 		
			 	}
			 	.block{
			 		padding-top: 20px;			 		
			 	}	
			 	.value{
			 		color: #aaa4dd;
			 		font-size: 18px;
			 	}		 	
			 }
			 .left-band{
			 	padding-left: 25px;
			 	padding-right: 6px;
			 	
			 }
			 .right-band{
			 	padding-right: 25px;	
			 	padding-left: 6px;
			 }
		}
		.one-band{
			font-size: 16px;
			>.shadow-box{
				background-color: white;
			}
			.block{
				margin-top: 20px;
				margin-bottom: 20px;
				padding-top: 15px;
				padding-bottom: 15px;
				line-height: 20px;
				>.title{
					text-align: center;
					font-weight: bold;
				}
				.row{
					.value{
						text-align: right;
						padding-right: 5px;
					}
					.title{
						padding-left: 5px;
					}
				}
				&.block0{
					color: #7ad0f6;
				}
				&.block1{
					padding-top: 25px;
					padding-bottom: 25px;
					.value{
						text-align: center;
					}
					color: #66d1b5;
				}
				
				&.block2{
					color: #ebb996;
				}
			}
			padding: 20px 50px 20px 50px;
		}
	}

	.dashboard-podium{
		background-color: white;
		.bar-header{
			background-color: green;
			.title{
				color: white;

			}
		}
		.slide-content{
			margin-top: 45px;
		}
		.podium-item{
			float: left;
			padding: 5px;
			.avatar{
				height: 70px;
				width: 70px;
				background-size: cover;
				border: 1px solid lightgray;
				position: relative;
				.overlay{
					position: absolute;
					background-color: gray;
					height: 100%;
					width: 100%;
					opacity: 0.5;
					
				}
				.index{
					position: absolute;
					color: white;
					font-size: 22px;
					font-weight: bold;
					padding-left: 10px;
					padding-top: 40px;
				}
			}
			.more{
				height: 70px;
				width: 70px;
				text-align: center;
				padding-top: 30px;
				font-size: 16px;
			}
		}
		.director, .commercial{
			&.bar-header{
				background-color: #66d1b5;			
			}
			.more{
				color: #66d1b5;
			}
		}
		.prospector{
			&.bar-header{
				background-color: #aaa4dd;
			}
			.more{
				color: #aaa4dd;
			}
		}

		.service-agent{
			&.bar-header{
				background-color: #7ad0f6;
			}
			.more{
				color: #7ad0f6;
			}
		}		
	}
	.stat-day{
		.summary{
			background-color: white;
			text-align: center;
			padding: 5px;
			font-size: 16px;
			.value{
				margin: 5px;
				font-weight: bold;
			}
			.title{
				margin: 5px;
			}
			

			.col1{
				
				border-left: 1px solid lightgray;
				border-right: 1px solid lightgray;
			}			
		}
	}
	.appointment-summary-box{
		>.row{
			position: relative;
			.col0{
				padding: 20px 20px 0px 10px;
				color: #aaa4dd;
			}
			.col2{
				padding:5px;
			}
		}
		.doughnut-legend{
			position: absolute;
		    top: 10px;
		    right: 10px;
		    width: 80px;
		    li{
			    display: inherit;
			    text-align: left;
		    }
		}
	}

	&.prospector{
		.stat-box{
			&.holding{
				.item-name{
					background-color: #aaa4dd;
				}
				.summary{
					color: #aaa4dd;
				}
			}
		} 
		.two-band{
			.right-band{				
			 	.rect{
			 		color: #aaa4dd;
			 	}
			}
			.left-band{
				.value{
					color: #66d1b5;
				}
			}	
		}
	}
	&.commercial{
		.ranking{
			.shadow-box{
				background-color: #66d1b5;
			}
		}
		.two-band{
			.right-band{
				.circle{
					border-color: #66d1b5;
				}

			 	.rect{
			 		color: #aaa4dd;
			 	}
			}	
			.left-band{
				.value{
					color: #fc818c;
				}
			}	
		}
	}
	&.director{
		.ranking{
			.shadow-box{
				background-color: #66d1b5;
			}
		}
		.two-band{
			.left-band{
				.block2{
					.circle{
						border-color: #66d1b5;
					}
				}
			}
		}
		.summary{
			.col0{
				.value{
					color: #7ad0f6;
				}
			}
			.col1{
				.value{
					color: #66d1b5;
				}
			}
			.col2{
				.value{
					color: #fc818c;
				}
			}
		}
	}
	&.service-agent{
		.ranking{
			.shadow-box{
				background-color: #7ad0f6;
			}
		}
		.summary{
			.col0,.col2{
				.value{
					color: #7ad0f6;
				}
			}
			.col1{
				.value{
					color: #fc818c;
				}
			}
		}
	}
	&.ceo{
		.ranking{
			.left-rank{
				.shadow-box{
					background-color: #70d0b3;
				}
			}

			.right-rank{
				.shadow-box{
					background-color: #7ad0f6;
				}
			}
		}
		.summary{
			.col0{
				.value{
					color: #7ad0f6;
				}
			}
			.col1{
				.value{
					color: #66d1b5;
				}
			}
			.col2{
				.value{
					color: #fc818c;
				}
			}
		}
		.two-band{
			.left-band{
				>.shadow-box{
					padding-top: 20px;
					padding-left: 10px;
					padding-right: 10px;
					.block{
						padding-bottom: 10px;
						color: #e9ba91;
						&.block1{
							margin-top: 50px;
							margin-bottom: 40px;
						}
						.row{
							.title{
								text-align: left;
							}
							.value{
								text-align: right;
								font-size: 16px;	
								color: #e9ba91;

							}
						}
					}									
				}
				
			}
		}
	}
}