.heading{
	height: 180px;
	width: 100%;
	background-size: cover;
	position: relative;
    background-repeat: no-repeat;
    .gauge{
    	height: 100%;
    	background-color: rgba(0, 26, 82, 0.5);
		&::before {
		    content: "";
		    display: block;
		    height: 100%;
		    border-bottom: 4px solid #30F6EC;
		    background: url("../img/bs-gauge-right-glow.png") no-repeat right bottom transparent;
		    background-size: 100% 80%;
		}
    }
    .remain{
    	height: 100%;
	    right: 0;
	    float: right;
	    position: absolute;
	    top: 0;
	    background-color: rgba(21, 28, 55, 0.6);
    }
    .name{
    	position: absolute;
	    bottom: 30px;
	    left: 30px;
	    width: 200px;
	    font-size: 30px;
	    h2{
		    color: white;
		    font-weight: normal;
	    }
    }
    .goal{
    	position: absolute;
	    bottom: 30px;
	    right: 25px;
	    width: 200px;
	    color: darken(white, 15);
	    text-align: right;
    }
}