.login{
	.logo{	    
	    padding: 50px 0;
	    img{
	    	width: 75%;
    		max-width: 200px;	
    		margin: 0 auto;
    		display: table;
	    }
	}
	button{
		width: 100%;
	}
	input{
		text-align: center;
		font-size: 14px;
		font-style: normal;
		&:focus{
		    border-left: 8px solid $stable;
		}
		-webkit-transition: all,.15s,ease-in;
    	transition: all,.15s,ease-in;
	}
	.list{
		.item{
			border-bottom: none;
			border-top: none;
			padding-left: 3px;
			padding-right: 3px;		
		}
		.create-account{
			button{
				background-color:#D6597F;
				border-color:#D6597F;	
			}
		}
		.forget-password{
			padding-top: 0;
		}
	}	
}
.splash{
	margin-top: 50px;
}