@mixin header($bgcolor){
	.bar-header{
		background-color: $bgcolor;
		.title{				
			color: white;
			text-transform: uppercase;
		}
	}
}
.prize{
	.slider{
		position: absolute;
		top:0;
		bottom: 48px;
		width: 100%;
		.content{
			margin-top: 40px;
			&.has-tabs{
				bottom: 0;
			}
		}
	}

	.prospector{
		@include header($color_prospection)
	}
	.commercial{
		@include header(#67C1A6)
	}
	.agence{
		@include header(#67C1A6)
	}
	.director{
		@include header(#67C1A6)

	}
	.service-agent{
		@include header($color_service)
	}
	.pands{
		@include header($color_pands)
	}
	
	.slider-slide{
		.bar-header{
			&:after{
				font-family: Ionicons;
				content: "\f10a";
				position: absolute;
				right: 5px;
				color: white;
				line-height: 35px;
			}
			&:before{
				font-family: Ionicons;
				content: "\f107";
				position: absolute;
				left: 5px;
				color: white;
				line-height: 35px;
			}
		}
		&.first-slide{
			.bar-header{
				&:before{
					content: "";
				}
			}
		}
		&.last-slide{
			.bar-header{
				&:after{
					content: "";
				}
			}
		}
	}
}

.prize-list{
	.prize-item{
		border-top-color: whitesmoke;		
		padding: 0;
		position: relative;
		.avatar{
			position: relative;
			width: 100px;
			height: 100px;	
			background-size: cover;
			&:after{
				content: '';
				width: 10px;
				height: 100px;				
				position: absolute;
				right: -10px;				
			}
			&.status-1{
				&:after{
					background-color: #1FC7AE;
				}				
			}
			&.status-2{
				&:after{
					background-color: #D0ADAE;
				}				
			}
			&.status-3{
				&:after{
					background-color: #BF69D8;
				}				
			}
			&.status-4{
				&:after{
					background-color: #EC6CB8;
				}				
			}
			&.status-5{
				&:after{
					background-color: #FACE70;
				}				
			}
		}
		.status{
			width: 10px;
			height: 100px;
			background-color: green;
		}
		.data{
			right: 0;
			left: 110px;
			top: 0;
			position: absolute;
			padding: 15px 0px 15px 15px;
			.feeling-time{
				padding-left: 0;
				padding-top:0;
				padding-bottom:0;
				text-transform: uppercase;
				color: lightgray;
				.time{
					font-size: 13px;
				}
			}
			.name-checked{
				padding-left: 0;
				.item-checkbox{
					border: none;
					position: absolute;
				}
			}
			>*{
				margin-bottom: 5px;
			}
			font-size: 14px;
			.name{
				font-weight: bold;
			}
			.time{
				text-align: right;
			}
			.bigz{
				font-size: 14px;
			}

		}
		
	}
}