.profile-info-box{
    .value{
        margin:0;
        text-align: center;
        font-weight: bold;
    }
    .name{
        margin: 0;
        margin-top: 3px;
        text-align: center;
        font-size: 0.9em;
    }
}

.profile{
	.profile-info-box{
		.value,.name{
			color:white;
		}
		.row{
			padding: 0px 0px 5px 0px;	
			.shadow-box{
				background-color: $positive;
			}	
			.box{
				padding: 2px;
			}					
		}
	}
	&.profile-agence{
		.profile-info-box{
			.rindex-0{
				.box{
					padding-top: 0;
				}
				.shadow-box{
					background-color: $color_prospection;
				}				
			}
			.rindex-1{
				.shadow-box{
					background-color: #67C1A6;
				}
			}
			.rindex-2{
				.shadow-box{
					background-color: $color_service;
				}
			}		
		}
	}

	.button-bar{
		&.chart-labels{
			> .button{
				text-transform: capitalize;		    
		    	line-height: 30px;
		    	min-height: 30px;
		    	font-size: 14px;
				&:last-child{
					border-radius: 0;		
				}
				&:first-child{
					border-radius: 0;		
				}
			}	
		}	
	}
	
	.profile-ca-chart{
		padding-left: 5px;		
		.commands{
			margin-bottom: 10px;
			margin-top: 10px;
			padding-left: 5px;
			padding-right: 5px;
			font-size: 16px;
			.compare{
				text-align: right;
			}
		}
	}
	.profile-taux-chart{
		padding-top: 20px;
		padding-bottom: 40px;
		height: 430px;
		background-color: $positive;
		canvas{
			background-color: white;
		}
		h4{
			color: white;
			margin-bottom: 20px;
		}
		.button-light
		{
			&:not(.button-positive){
				background-color: transparent;
			}			
		}
		.options{			
			padding-left: 5px;
			.button{
				margin-bottom: 5px;
				font-size: 13px;
				line-height: 14px;
				background-color: white;				
				color: $positive;
				width: 100%;
				border-radius: 0;
			}
		}
		.center-align-container{
			height: 380px;
		}
	}
	.profile-sale-ratio{
		padding: 5px;
		.percentage{
			position: relative;
			height: 40px;
			>*{
				float: left;
				height: 100%;
			}
			.client-sale{
				background-color: $positive;
			}
			.prospect-sale{
				background-color: #5AAB92;
			}
		}
		.prospect-sale-label{
			color: #67C1A6;
			text-align: right;
		}
	}

	.profile-product-rank{
		padding: 5px;
		.product{
			float: left;
			margin-right: 20px;
			margin-top: 20px;
			.name{
				text-align: center;
				white-space: nowrap;
				margin-top: 5px;
			}
			.value{
				position:absolute;
				bottom: 31px;
				padding: 2px 5px 2px 5px;
				color: white;
				background-color: $positive;
				border-radius: 5px;
			}
			.avatar{
				position: relative;
				display: inline-block;
				margin-left: 4px;	
				padding: 3px;
				border-radius: 50%;
				border: 3px solid lightgray;
				>div{
					// position: absolute;
					background-size: cover;
					background-repeat: no-repeat;
					border-radius: 50%;
					border: 3px solid lightgray;
				}				
			}
			.progress{
				position: absolute;
				bottom: 31px;
			}
		}
		.scroll-view{
			overflow: hidden;
		}

		.products{
			display: inline-block;
		}
	}

	.profile-appointment-history{
		.scroll-view{
			overflow: hidden;
		}
		.appointments{
			display: inline-block;
			.appointment{
				width: 50px;
				height: 50px;
				float: left;
				border-radius: 50%;
				border: 1px solid lightgray;
				margin: 10px;
				text-align: center;
				line-height: 50px;
				position: relative;
				&.shadow-box{
					box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
				}
				&:after{
					position: absolute;
					font-size: 20px;
					width: 100%;
					top: 0px;
					left: 0;
				}
				&.canceled{
					&:after{
						content: 'X';												
						color: #F7828B;
					}
				}
				&.confirmed{
					background-color: #67C1A6;
					&:after{
						content: 'V';
						color: white;
					}
				}

				&.sale{
					background-color: $positive;
					&:after{
						content: 'SS';
						color: white;
					}
				}

				&.negotiate{
					background-color: #F7828B;
					&:after{
						content: 'Négo';
						color: white;
						font-size: 12px;
					}
				}
			}
		}
	}
}
