.sale-list{
	.col-35 {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 35%;
	    -moz-box-flex: 0;
	    -moz-flex: 0 0 35%;
	    -ms-flex: 0 0 35%;
	    flex: 0 0 35%;
	    max-width: 35%;
	}
	.result{
		.header{			
			background-color: $positive;
			h3{
				color: white;					
				width: 100%;
				padding: 3px;
			    text-transform: uppercase;
			    font-size: 17px;	
			    strong{
			    	font-size: 13px;
			    	font-weight: normal;
			    }		    
			}
			span{
				font-size: 13px;
			}		
		}
		.box{
			padding: 5px;
			&.bilan{
				font-weight: bold;
				.title{
					font-style: normal;
				}
			}
			.title{
				font-style: italic;
				text-align: center;
				margin-bottom: 5px;
			}
			.value{
				text-align: center;
				font-style: italic;
			}
		}
		.item{
			margin-bottom: 0;
			padding-right: 3px;
			padding-left: 3px;
		}
	}
	.month-week-view{
		.item{
			color: white;

			.item-content{
				padding: 3px;
			}
			margin-bottom: 5px;
			margin-top: 0px;
		}
		.service{
			background-color: $color_service;
			margin-left: 2px;
		}
		.c-1{
			background-color: $color_appointment;			
		}
		
		.row.row-2{
			margin-top: 0;
			padding: 5px;
			padding-left: 0;
			padding-right: 0;
			padding-top: 2px;
			margin-right: 0;
			strong{
		    	font-size: 10px;		    	
		    }
		}
	}	
	.day-view{
		.list{
			.item{
				margin-top: 5px;
				padding-left: 0;
				padding-right: 0;
				.item-content{
					padding: 3px;
					.status{
						font-style: italic;
					}
					.invoiced{
						color: #67C1A6;
					}
					.canceled{
						color: #EC7C9F;
					}					
					.service-provided{
						color: #FFEF78;
					}
					.current-service{
						color: #E9BA9A;
					}
					.service-completed{
						color: #4279A8;
					}					
				}
				.value{
			        &.time{
			        	font-weight: bold;
			        }
			        &.user{
			        	font-weight: bold;	
			        }
				}
			}
		}
	}
}
/*
.appointment-create{
	.client{
		.client-prospect{
			padding-top: 15px;
			padding-bottom: 15px;
			color: $color_client;
		}
		.prospector{
			padding-top: 25px;
			padding-bottom: 25px;
			color: $color_prospection;
		}
		.commercial{
			padding-top: 25px;
			padding-bottom: 25px;
			color: $color_sale;
		}
	}

	.padding-shadow-1{
		padding-left: $small_space;
		padding-right: $small_space;
	}
	.section{
		margin-bottom: 30px;
		margin-top: 30px;
	}
}*/