.search{
	@mixin tab-style($color){
		.tab-title{
			color: $color;
		}
		&.tab-item-active{
			border-bottom: 4px solid $color;
		}
		&.button-positive{
			color: darken($color,20);
			border-bottom: 4px solid $color;
			background-color: transparent;
			&.activated{
				background-color: transparent;
				color: darken($color,30);
			}
		}
		&.button{
			height: 35px;
			line-height: 35px;
			min-height: 35px;
			color: $color;
			background-color: transparent;
			border-radius: 0;
			&:hover{
				color: $color;
			}
		}
	}
	.appointment{
		@include tab-style($color_appointment)
	}
	.sale{
		@include tab-style($color_sale)
	}
	.pands{
		@include tab-style($color_pands)
	}
	.client{
		@include tab-style($color_client)
	}

	.tabs-light-style{
		.tabs{
			background-color: transparent;
			border: none;
			height: 40px;
			line-height: 50px;
		}
	}
}

.result{
	.list{
		.item{
			border-top: none;
			padding-top: 0;
			padding-bottom: 0;
			.item-content{
				padding: 0;
			}
			
			margin-bottom: 10px;
			.name{
				font-weight: bold;
			}
			.type{
				font-style: italic;
				&.type-client{
					color: #67C1A6;
				}
				&.type-retracted{
					color: #EC7C85;
				}
				&.type-prospect{
					color: #A9A4E2; 
				}
			}
		}	
	}
	.item-options{
		.button-light:before{
			font-size: 32px;
		}		
	}
}

$btnfilterheight: 30px;
.search-filter{
	margin-bottom: 5px;
	.item-input-wrapper{	
		padding-left: 0;
		padding-right: 0;
	}
	.item{
		padding: 5px;
	}
	.create{
		text-align: right;
		width: 100%;
	}
	.search-filter-panel{
		.button{
			color: lighten(black,30);
			min-height: $btnfilterheight;
			height: $btnfilterheight;
			&:before{
				line-height: $btnfilterheight;
			}
		}		
	}
	a{
		font-weight: bold;
	}	
}