.seller-additional-sale-approve{
	.listsalepending{
		.item{
			margin-bottom: 0;
			padding-right: 3px;
			padding-left: 3px;
		}
		.header{			
			background-color: $positive;			
			h3{
				color: white;					
				width: 100%;
				padding: 3px;
			    text-transform: uppercase;
			    font-size: 17px;		    		    
			}
		}
		.lineitem{			
			font-size: 16px;
			margin-top: 15px;

			.title{				
				font-weight: bold;
			}
			.quantity{
				font-style: italic;
				text-align: right;
			}
			.amount{
				font-style: italic;
				color: $color_sale;
				text-align: right;
			}
			.value {
				text-align: right;
			}
		}		
	}

	.actionbar{
		.shadow-box{			
			vertical-align: middle;			
			text-align: center;
			color: #325884;
			padding: 10px;			
		}
		.accept, .gallery{			
			background-color: white;
			border-color: #325884
		}
		.comment{
			background-color: $color_sale;
			color: white;
		}

		.canceled{			
			background-color: $color_canceled_sale;
			color: white;
			border-color: white;
		}
		.charge{
			background-color: $color_sale;
			color: white;
			border-color: white;
		}
		.edit{
			background-color: #325884;
			color: white;
			border-color: white;
		}
		
	}
	.commentbox{
		padding: 10px;
		padding-top:0px;
		textarea{
			width: 100%;
		}
	}

}

.seller-service{
	padding: 5px;
	.header{			
		background-color: $color_service;
		h3{
			color: white;					
			width: 100%;
		    font-size: 17px;
		}			
	}
	.service-items{
		margin-top: 10px;
		margin-bottom: 20px;		
		font-size: 16px;
		.servicename{
			font-weight: bold;
		}
		.quantity{
			font-style: italic;
			text-align: center;			
		}
		.stock{
			font-style: italic;
			text-align: center;			
			color: $color_service;
		}
		.positivevalue{
			font-style: italic;
			text-align: center;
		}
		.negativevalue{
			font-style: italic;
			text-align: center;
			color:	#EC7C85;		
		}
	}
	.commentandgallery{
		padding-top: 20px;
		text-align: center;
		font-size: 12px;		
		.comment{
			background-color: #2B4E75;
			color: white;			
			margin-left: 10px; 
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.gallery{
			border-width: 1px;
			border-style: solid;
			border-color: #2B4E75;
			margin-right: 20px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	.commenttextarea{		
		textarea{
			width: 100%;
			font-size: 12px;			
			color: #2B4E75;
		}
	}
	.actionbar{
		button{
			padding: 10px;
			color:white;
		}
		.encours{
			background-color: $color_service;			
		}
		.accomplish{
			background-color: #2B4E75;
			position: absolute;
			right:20px;			
		}
	}
}

.seller-sale-approve{
	.listsalepending{
		.item{
			margin-bottom: 0;
			padding-right: 3px;
			padding-left: 3px;
		}
		.header{			
			background-color: $positive;			
			h3{
				color: white;					
				width: 100%;
				padding: 3px;
			    text-transform: uppercase;
			    font-size: 17px;		    		    
			}
		}
		.lineitem{			
			font-size: 16px;
			margin-top: 15px;

			.title{				
				font-weight: bold;
			}
			.quantity{
				font-style: italic;
				text-align: right;
			}
			.amount{
				font-style: italic;
				color: $color_sale;
				text-align: right;
			}
			.value {
				text-align: right;
			}
		}		
	}

	.actionbar{
		.shadow-box{			
			vertical-align: middle;			
			text-align: center;
			color: #325884;
			padding: 10px;
			border-color: #325884
		}
		.accept, .gallery{			
			background-color: white;
		}
		.comment{
			background-color: $color_sale;
			color: white;
		}
		
	}
	.commentbox{
		padding: 10px;
		padding-top:0px;
	}

}

	.commentbox{
		textarea{
			width: 100%;
		}
	}

.seller-sale-pending{
	.listsalepending{
		.item{
			margin-bottom: 0;
			padding-right: 3px;
			padding-left: 3px;
		}
		.header{			
			background-color: $positive;			
			h3{
				color: white;					
				width: 100%;
				padding: 3px;
			    text-transform: uppercase;
			    font-size: 17px;		    		    
			}
		}
		.lineitem{			
			font-size: 16px;
			margin-top: 15px;

			.title{				
				font-weight: bold;
			}
			.quantity{
				font-style: italic;
				text-align: right;
			}
			.amount{
				font-style: italic;
				color: $color_sale;
				text-align: right;
			}
			.value {
				text-align: right;
			}
		}
		.button.button-positive {
			 border-color: transparent;
			 background-color: $color_sale;
			 color: #fff; 			 
		}
		.button.button-positive.active, .button.button-positive.activated {
	 		background-color: #47C1A6; 
		}	
	}

	.actionbar{
		.shadow-box{			
			vertical-align: middle;			
			text-align: center;
			color: #fff;
			padding: 10px;		
		}
		.canceled{			
			background-color: $color_canceled_sale;
		}
		.charge{
			background-color: $color_sale;
		}
		.edit{
			background-color: #325884;
		}
	}
}
.verticalcenter{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.seller-create{	
	.row{
		.quantite{
			font-size: 16px;
			font-weight: bold;
			text-align: center;			
			height: 100px;
			margin-bottom: 10px;	
			input{
				text-align: center;
				font-size: 16px;
				width: 100%;
				font-style: normal;
				font-weight:bold;			

				::-webkit-input-placeholder {
				   text-align: center;
				}
				:-moz-placeholder { /* Firefox 18- */
				   text-align: center;  
				}
				::-moz-placeholder {  /* Firefox 19+ */
				   text-align: center;  
				}
				:-ms-input-placeholder {  
				   text-align: center; 
				}				
			}
		}
		.dealvalue{			
			font-size: 14px;	
			text-align: center;
			height: 100px;
			color : $color_sale;
			input{
				text-align: center;
				font-size: 14px;
				width: 100%;
				color: #325984;
				::-webkit-input-placeholder {
				   text-align: center;
				}
				:-moz-placeholder { /* Firefox 18- */
				   text-align: center;  
				}
				::-moz-placeholder {  /* Firefox 19+ */
				   text-align: center;  
				}
				:-ms-input-placeholder {  
				   text-align: center; 
				}
			}
		}
		.button-bar{
			padding: 10px
		}
		.pointsale{			
			padding-top: 25px;
			text-align: center;
			font-size: 16px;	
			margin-left: 20px;
			margin-top: 10px;
			height: 70px;
			font-weight: bold;
		}
		.confirmer{	
			padding-top: 25px;		
		}
	}
	.button.button-positive {
		 border-color: transparent;
		 background-color: #67C1A6;
		 color: #fff; 
	}
	.button.button-positive.active, .button.button-positive.activated {
 		background-color: #47C1A6; 
 	}
 	.cashorfunding{ 		
 		border-color: transparent;
		background-color: #67C1A6;
		color: #fff;		
		font-size: 16px;
		width: 100%;
		margin-top: 10px; 
		input {	        
	        font-style: normal;
	        width: 100px;
	        border-color: transparent;
			background-color: $color_sale;
			color: #fff;
			font-size: 16px;
			:active {
		        width: auto;   
		    }
		    :focus {
		        min-width: 100px;
		    }		
		}
 	}
}


@mixin shadow_bottom(){
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.note{
	h2{
		font-size: 16px;
		font-weight: normal;
	}
	font-size: 12px;
	font-style: italic;	
	textarea{
		width: 100%;
		font-style: italic;
	}	
}

.seller{
	.box{
		padding: 5px;
		p{
			margin-bottom: 3px;
		}
		&.address{
			height: 120px;
			font-weight: bold;
			.name{
				font-size: 18px;
			}
		}
		&.note{
				
		}
		&.contact{
			font-size: 16px;
			.phone1{
				font-weight: bold;
			}
		}		
	}
	.row-2{
		.box{
			padding: 30px 0 0 0;
			height: 80px;
			font-size: 20px;
			p{
				font-size: 14px;
				font-style: italic;
			}
		}
	}
	.row-4{
		.col{
			padding: 3px;
		}
		.address{
			margin-bottom: 5px;
		}
		.contact{
			margin-bottom: 5px;
		}
		.small-map{
			.angular-google-map-container{
				height: 200px;
			}
		}
	}
	.row-3{
		.list{
			width: 100%;
			.event-item{
				font-style: italic;
				font-size: 16px;
				border: 1px solid $positive;				
				margin-bottom: 15px;
				padding: 7px;
				&.type-1{
					background-color: #325984;
					color: white;
					border-color: #325984; 
					@include shadow_bottom()
				}
				&.type-3{
					background-color: #EC7C85;
					color: white;
					border-color: #EC7C85;
					@include shadow_bottom()
				}
				strong{
					font-style: normal;
					font-size: 18px;
					box-shadow: none;
				}
			}
		}
	}
	.appointment{
		background-color: $color_appointment;
		color: white;
	}
	.sale{
		color: $color_sale;
		&.sale-created{
			background-color: $color_sale;
			color: white;
		}
	}
	
	.service{
		color: $color_service;
		&.service-created{
			background-color: $color_service;
			color: white;
		}
	}
	.current-view{
		position: relative;
		font-weight: bold;
		&:after{
			content: '';
			border-bottom: 4px solid white;
			position: absolute;
			left: 10px;
			right: 10px;
			bottom: 10px;
		}
		&.sale{
			background-color: $color_sale;
			color: white;
			p{
				display: none;
			}
		}
		&.service{
			background-color: $color_service;
			color: white;
		}
	}

	.seller-appointment{
		.status-confirm{
			textarea{
				height: 60px;
				width: 100%;
				border: 1px solid lightgray;
				font-style: italic;
				padding: 5px;
			}
			button{
				height: 100%;
				font-weight: bold;
				padding-top: 7px;
				padding-bottom: 7px;
			}
			.status{
				padding-left: 10px;
				padding-right: 10px;
				.box{
					width: 20%;
					float: left;
					padding: 3px;
					text-align: center;
					font-size: 16px;
					.shadow-box{
						height: 55px;
						vertical-align: middle;
						line-height: 55px;
						&.not-suite{							
						}
						&.cancel{
							color: $color_canceled_sale;
						}
						&.absent{
						}
						&.reported{
							color: $color_prospection;
						}
						&.negotiation{
							color: $color_service;
						}
					}
				}
			}
			
		}

	}
}