$color_sale: #67C1A6;
$color_menu: #325984;
$color_prospection: #A9A4E2;
$color_service: #80CFF9;
$color_client: #EC77B2;
$color_canceled_sale: #EC7C85;
$color_pands: #E9BA91;
$color_appointment: #A9A4E2;

$tabcoloractive:  		white;
$tabcolor:              darken($tabcoloractive, 20); 

.list{
	.item:not(.first-item){
		border-bottom: none;
		border-left: none;
		border-right: none;
	}
}

.item-input-wrapper{
	background-color: transparent;
	border-radius: 0;
	input{
		width: 100%;
	}
}


input{
	font-size: 16px;
	font-style: italic;
}

.shadow-box{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
$btnheight: 35px;
.form-create{	
	.switch{
		.button{
			font-size: 14px;	
			min-height: $btnheight;
			height: $btnheight;
			line-height: $btnheight;
			border: 1px solid gray;
			border-radius:0;
		}		
	}
	.left-input-container{
		padding-right: 5px;
	}
	.right-input-container{
		padding-left: 5px;
	}
	.row{
		margin-top: 5px;
	}
	
}

.small-map-container{
	margin: 0 auto;
	position: relative;
	.small-map{
		.angular-google-map-container{
			width: 150px;	
			height: 150px;
		}
		margin: 0 auto;
		position: relative;
		.view-map{
			position: absolute;
			left: 0px;
			bottom: 0px;
			width: 70px;
			background-color: white;
			padding: 10px;
		}
	}
}

.bs-tab-content{
	.scroll-content{
		top: 40px;
	}
}

.no-padding{
	padding: 0;
}


$small_space:5px;

.padding-shadow-3{
	padding-right: $small_space*2;
	.shadow-box{
		margin-right: $small_space;
		padding: $small_space;
		font-size: 14px;
		text-align: center;
		vertical-align: middle;
	}
}

.nav-bar-transparent{
	background-color: transparent;
	.buttons{
		.back-text{
			display: none;
		}
	}	
	.title{
		display: none;
	}
	border: none;
}
.behide-nav-bar{
	top: 0;
}

.hyperlink{
	text-decoration: underline;
	cursor: pointer;
}

.center-align-container{
	height: 70px;
	width: 100%;	
	display: table;
	>*{
		display: table-cell;
		vertical-align: middle;
	}
}
.sim{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	background-color: white;
	padding: 0px 3px 0px 3px;
	opacity: 0.5;

}
.clip-text{
	text-overflow: ellipsis;
	overflow: hidden;
}

@import "tabs";
@import "search";
@import "login-splash";
@import "sale";
@import "seller";
@import "appointment";
@import "heading";
@import "dashboard";
@import "pands";
@import "prize";
@import "client";
@import "profile";
@import "override";
