.popover-more{
	height: 210px;
	width: 180px;
}

.main-tabs{
	.tabs{
		.tab-item{ 
			color: $tabcolor;
			&.activated{
				color: $tabcolor;
			}
			&.tab-item-active{
				color: $tabcoloractive;
			}
		}
	}
}