<ion-list class="result month-week-view" can-swipe="true">
    <ion-item ng-repeat="it in vm.items">
        <div class="row header row-1" ng-click="vm.godown(it)">
            <h3>{{it.time | momenttext:vm.view()}}<span ng-if="vm.view()=='month'" style="padding-left:10px">{{it.rdv}} <strong>RDV</strong></span></h3>
        </div>
        <div class="row row-2">
            <div class="col-80 row no-padding c-1 shadow-box">
                <div class="col-25 box bilan">
                    <div class="title">BILAN</div>
                    <div class="value">{{it.rdv}}  <strong>RDV</strong></div>
                </div>
                <div class="col-25 box">
                    <div class="title">Vente</div>
                    <div class="value">{{it.sale}}</div>
                </div>
                <div class="col-25 box">
                    <div class="title">Sans Suite</div>
                    <div class="value">{{it.notSuite}}</div>
                </div>
                <div class="col-25 box">
                    <div class="title">Autres</div>
                    <div class="value">{{it.other}}</div>
                </div>                    
            </div>
            
            <div class="col-20 service shadow-box box">
                <div class="title">Service</div>
                <div class="value">{{it.service}}</div>
            </div>
        </div>
    </ion-item>     
</ion-list>
