<ion-list class="result hour-view" can-swipe="true" ng-if="vm.items.length!=0">
    <ion-item>
        <div class="row header row-1" ng-click="vm.godown()">
            <h3>{{vm.items[0].time | momenttext:vm.view()}}h (x{{vm.items[0].items.length}})</span></h3>
        </div>
    </ion-item>
    <ion-item ng-repeat="it in vm.items[0].items" class="shadow-box" ng-click="vm.viewAppointment(it)">
        <div class="row row-item">
            <div class="col-25 time value clip-text">
                {{it.time | momenttext:'hour2'}}
            </div>
            <div class="col-25 user value clip-text">
                {{it.user}}
            </div>
            <div class="col-25 city value clip-text">
                {{it.city}}
            </div>
            <div class="col-25 value clip-text">
                {{it.client}}
            </div>                    
        </div>
        <div class="row status {{it.status}} value clip-text">
        {{it.status | appointmentstatustext}}
        </div>
        <ion-option-button class="icon ion-ios-email-outline"></ion-option-button>
        <ion-option-button class="icon ion-ios-telephone-outline"></ion-option-button>  
    </ion-item>     
</ion-list>