<ion-content class="padding appointment-list" ng-controller="appointmentList">
	<div class="list search-filter">        
        <ng-include ng-init="fortab='search';forview='appointment-list'" src="'app/views/list-filter-input.html'"></ng-include>
        <div class="item  row">
        	<span class="col-50" ng-if="vm.cangoupper()"> 
        		<i class="icon ion-ios-arrow-back"></i>       	
        		<a href="" ng-click="vm.goup()">{{vm.upperview()}}</a>
			</span>
        	<span class="col-50 create" ng-class="{'col-offset-50': !vm.cangoupper()}">        	
        		<a ui-sref="tab.appointment-create" >créer un RDV</a>
			</span>
        </div>
    </div> 

    <ng-include src="'app/views/appointment-list-monthweekview.html'" ng-if="vm.view()=='month' || vm.view()=='week'"></ng-include>  
    <ng-include src="'app/views/appointment-list-dayview.html'" ng-if="vm.view()=='day'"></ng-include>  
    <ng-include src="'app/views/appointment-list-hourview.html'" ng-if="vm.view()=='hour'"></ng-include>  
</ion-content>
