<ion-view view-title="créer un RDV">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="vm.submit()"><i class="icon ion-checkmark"></i></button>
    </ion-nav-buttons>
    <ion-content class="form-create appointment-create">
        <div class="section padding-shadow-3 section-1">
            <div class="row">
                <div class="col-33 shadow-box box client-prospect" ng-click="vm.pick('client')">
                    <div class="center-align-container">
                        <i>{{vm.client.firstName || 'CLIENT/ PROSPECT'}}</i>
                    </div>
                </div>
                <div class="col-33 shadow-box box prospector" ng-click="vm.pick('prospector')">
                    <div class="center-align-container clip-text">
                        <i>{{vm.prospector.firstName || 'PROSPECTEUR'}}</i>
                    </div>
                </div>
                <div class="col-33 shadow-box box commercial" ng-click="vm.pick('commercial')">
                    <div class="center-align-container">
                        <i>{{vm.commercials() || 'COMMERCIAL'}}</i>
                    </div>
                </div> 
            </div>
        </div>
        
        <div class="section">
            <div class="row">
                <div class="button-bar switch">
                    <a class="button button-light" ng-class="{'button-positive': vm.isChoosen('client')}" ng-click="vm.choose('client')">NEUTRE</a>
                    <a class="button button-light sale" ng-class="{'button-positive': vm.isChoosen('prospect')}" ng-click="vm.choose('prospect')">VENTE</a>
                </div>
            </div>
            <div class="row" ng-if="vm.client.type=='client'">
                <div class="button-bar switch">
                    <a class="button button-light">SERVICE</a>
                    <a class="button button-light">SAV</a>
                </div>
            </div>
        </div>

        <div class="section padding-shadow-1">

            <div class="row shadow-box time">
                 <input type="date" ng-model="vm.date">
            </div>
        </div>
        <div class="section" style="padding: 20px">
            <div class="shadow-box note">
                <h2>Note:</h2>
                <textarea ng-model="vm.note"></textarea>
            </div>
        </div>
    </ion-content>
</ion-view>
