<ion-list class="result day-view" can-swipe="true">
    <ion-item ng-repeat="it in vm.items">
        <div class="row header">
            <h3 ng-click="vm.godown(it)">{{it.time | momenttext:vm.view()}}<span style="padding-left:10px">{{it.rdv}} <strong>RDV</strong></span></h3>
        </div>
        <div class="row shadow-box" ng-repeat="it in it.items">             
            <div class="col-20 box bilan">
                <div class="title">{{it.time | momenttext:'hour1'}}</div>
                <div class="value">{{it.rdv}}  <strong>RDV</strong></div>
            </div>
            <div class="col-20 box sale">
                <div class="title">Vente</div>
                <div class="value">{{it.sale}}</div>
            </div>
            <div class="col-20 box notSuite">
                <div class="title">Sans Suite</div>
                <div class="value">{{it.notSuite}}</div>
            </div>
            <div class="col-20 service box">
                <div class="title">Service</div>
                <div class="value">{{it.service}}</div>
            </div>
            <div class="col-20 box others">
                <div class="title">Autres</div>
                <div class="value">{{it.other}}</div>
            </div>  
        </div>
        <div class="row shadow-box total-row">             
            <div class="col-20 box bilan">
                <div class="title">BILAN</div>
                <div class="value">{{it.rdv}}  <strong>RDV</strong></div>
            </div>
            <div class="col-20 box sale">
                <div class="title">Vente</div>
                <div class="value">{{it.sale}}</div>
            </div>
            <div class="col-20 box notSuite">
                <div class="title">Sans Suite</div>
                <div class="value">{{it.notSuite}}</div>
            </div>
            <div class="col-20 service box">
                <div class="title">Service</div>
                <div class="value">{{it.service}}</div>
            </div>
            <div class="col-20 box others">
                <div class="title">Autres</div>
                <div class="value">{{it.other}}</div>
            </div>  
        </div>
    </ion-item>     
</ion-list>  