<div class="profile-product-rank">	
	<ion-scroll zooming="true" direction="x" class>  
		<div class="products" style="width: {{vm.containerWidth()}}px">
			<div ng-repeat="it in vm.products" class="product" style="width: {{100*vm.avatarScale(it)}}px">
				<div class="avatar" style="{{vm.circleTransform(it)}};">
					<div ng-style="{{vm.avatarStyle(it)}}">
					</div>
				</div> 
				<div class="name clip-text">{{it.name}}</div>	
				<canvas width="100px" height="100px" class="progress" style="{{vm.circleTransform(it)}};" biz-percentage-circle biz-value="{{it.value}}"></canvas>
				<div class="value">{{it.value}}</div>

			</div>
		</div>
 	</ion-scroll>
</div>