<div class="profile-info-box">
	<div ng-repeat="r in vm.rows" class="row rindex-{{$index}}">
		<div ng-repeat="c in r" class="col-33 box">
			<div class="shadow-box center-align-container">
				<div ng-switch on="c.type">				
					<h4 class="value" ng-switch-when="percent">{{c.value}}%</h4>
					<h4 class="value" ng-switch-when="money">{{c.value | moneydisplay}}</h4>
					<h4 class="value" ng-switch-default>{{c.value}}</h4>
					<h5 class="name">{{c.name}}</h5>
				</div>
			</div>
		</div>
	</div>
</div>