<div class="stat-box appointment-summary-box">
	<div class="shadow-box row">
		<div class="col-33 col0">
			<div class="shadow-box box summary center-align-container">
				<div>
					<div class="name ng-binding">RDV</div>
				</div>
			</div>
		</div>
		<div class="col-33 col2">
			<canvas height="300px"
			    class="chart chart-doughnut"
			    chart-data="vm.data"
			    chart-legend="true"
			    chart-labels="vm.labels"
			    chart-colours="['#5ec1a8','#aaa4dd','#2a4e72']"
			    >
			</canvas> 
		</div>		
	</div>
</div>