<div class="profile-appointment-history">	
	<ion-scroll zooming="true" direction="x" class>  
		<div class="appointments" style="width: {{vm.containerWidth()}}px">
			<div ng-repeat="it in vm.appointments" class="appointment {{it.status}} shadow-box">				
			</div>
		</div>
 	</ion-scroll>
</div>