<div class="dashboard-podium">
	<ion-slide-box show-pager="false">
      <ion-slide ng-repeat="cat in vm.categories">
      	<div class="bar bar-header bar-light {{cat.name}}">
	      <h1 class="title">{{vm.title(cat)}}</h1>
	    </div>
	    <div class="slide-content {{cat.name}}" >
	    	<div>
	    		<div ng-repeat="it in cat.items" class="podium-item">
	    			<div class="avatar" style="background-image: url({{it.avatar}});">
	    				<div class="overlay"></div>
	    				<div class="index">{{$index+1}}</div>
	    			</div>
	    		</div>
	    		<div class="podium-item">
	    			<div class="more shadow-box">
	    				<div style="font-weight: bold">+ {{cat.more}}</div>
	    				<div>tout voir</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
      </ion-slide>
    </ion-slide-box>
</div>