<div class="heading dashboard-heading" style="background-image: url({{vm.company.avatar}});">
    <div class="gauge" style="width:{{vm.company.objectivePercent}}%;"></div>
    <div class="remain" style="width:{{100-vm.company.objectivePercent}}%;"></div>
    <div class="title">           
        <div>{{vm.company.name}}</div>
        <div>{{vm.company.agence}}</div>
    </div>
    <div class="phone">
        {{vm.company.phone}}
    </div>
    <div class="side">
        <div>{{vm.company.holdingAppointments}} RDV TENU</div>
        <div>{{vm.company.objectivePercent}}% de l’Obj</div>
    </div>
</div>  