<div class="row ranking">
	<div class="col-50 box left-rank">
		<div class="shadow-box center-align-container {{vm.leftRankStatus}}">
			<div>
				<div class="value">{{vm.leftRank}}</div>
				<div>{{vm.leftRankTitle}}</div>
				<i ng-if="vm.leftRankStatus=='up'" class="icon ion-arrow-up-a up"></i>
				<i ng-if="vm.leftRankStatus=='down'" class="icon ion-arrow-down-a down"></i>
				<i ng-if="vm.leftRankStatus=='same'" class="same">=</i>
			</div>
		</div>
	</div>
	<div class="col-50 box right-rank">
		<div class="shadow-box center-align-container {{vm.rightRankStatus}}">
			<div>
				<div class="value">{{vm.rightRank}}</div>
				<div>{{vm.rightRankTitle}}</div>
				<i ng-if="vm.rightRankStatus=='up'" class="icon ion-arrow-up-a up"></i>
				<i ng-if="vm.rightRankStatus=='down'" class="icon ion-arrow-down-a down"></i>
				<i ng-if="vm.rightRankStatus=='same'" class="same">=</i>
			</div>
		</div>
	</div>
</div>