<div class="stat-box {{vm.statName}}">
	<div class="row shadow-box">
		<div class="col-33 col0">
			<div class="shadow-box box summary center-align-container">
				<div>
					<div class="name">{{vm.summary.name}}</div>
					<div class="value">{{vm.summary|statboxvaluedisplay:vm.statName}}</div>
				</div>
			</div>
		</div>
		<div class="col-33 col1">
			<div ng-repeat="it in vm.items" class="item-name">{{it.name}}</div>
		</div>
		<div class="col-33 col2">
			<div ng-repeat="it in vm.items" class="item-value" >
				<span>{{it|statboxvaluedisplay:vm.statName}}</span>
			</div>
		</div>
	</div>
	<div class="more" ng-if="vm.hasMore">Tout voir</div>
</div>