<div class="profile-ca-chart">
	<div class="commands">
		<div class="row">
			<span class="col-25" ng-click="vm.refresh()">CA tenu <i class="icon ion-arrow-swap"></i></span>
			<span class="col-25 col-offset-50 compare" ng-click="vm.refresh()">Comparer <i class="icon ion-arrow-return-left"></i></span>
		</div>
	</div>
    <div class="button-bar switch chart-labels">
        <a class="button button-light" ng-class="{'button-positive': vm.chosen(m)}" ng-click="vm.choose(m)" ng-repeat="m in vm.months">{{m | momenttext: 'monthshort'}}</a>        
    </div>	
	<canvas 
	    class="chart chart-line"
	    chart-data="vm.data"
	    chart-labels="vm.labels"
	    chart-legend="false"
	    chart-series="series"
	    chart-options="{scaleShowLabels: false}">
	</canvas> 
</div>