<div class="profile-sale-ratio">
	<h4>Ventes totale tenues</h4>
	<div class="percentage">
		<div class="client-sale" style="width:{{vm.percent}}%;"></div>
		<div class="prospect-sale" style="width:{{100-vm.percent}}%;"></div>
	</div>	
	<div class="row">
		<span class="col-50 client-sale-label">Ventes sur client</span>
		<span class="col-50 prospect-sale-label">Ventes sur prospect</span>
	</div>
</div>