<div class="profile-taux-chart">
	<div class="row" style="height: 100%">
		<div class="col-67">
			<h4>
				Forces et faiblesses
			</h4>
			<div style="background-color: white">
				<div class="button-bar switch chart-labels">
			        <a class="button button-light" ng-class="{'button-positive': vm.chosen(m)}" ng-click="vm.choose(m)" ng-repeat="m in vm.months">{{m | momenttext: 'monthshort'}}</a>        
			    </div>	
				<canvas
				    class="chart chart-line"
				    chart-data="vm.data"
				    chart-labels="vm.labels"
				    chart-legend="false"
				    chart-series="series"
				    chart-options="{scaleShowLabels: false}" 
				    height="250px">
				</canvas> 
			</div>
		</div>
		<div class="col-33 options">
			<div class="center-align-container">
				<div>
					<button class="button" ng-repeat="option in vm.options">{{option}}</button>
				</div>
			</div>
		</div>
	</div>
</div>