<ion-content class="padding" ng-controller="clientList">
    <div class="list search-filter">
        <ng-include ng-init="fortab='search';forview='client-list'" src="'app/views/list-filter-input.html'"></ng-include>
        <div class="item create">
        	<a ng-click="vm.createClient()" class="hyperlink">créer un contact</a>
        </div>
    </div>    
    <ion-list class="result client-list" can-swipe="true">
    	<ion-item ng-repeat="it in vm.items" class="shadow-box" ng-click="vm.pick(it)">
    		<div class="row">
    			<span class="col-50 name clip-text">{{it.firstName}} {{it.lastName}}</span>
    			<span class="col-50 city clip-text">{{it.address.text}}</span>
    		</div>
    		<div class="row">
    			<span class="col-50 type type-{{it.type}}">{{it.type}}</span>
    		</div>
    		<ion-option-button class="icon ion-ios-email-outline"></ion-option-button>
            <ion-option-button class="icon ion-ios-telephone-outline"></ion-option-button>
    	</ion-item>    	
    </ion-list>    
</ion-content>