<ion-view view-title="créer un contact">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="vm.submit()"><i class="icon ion-checkmark"></i></button>
    </ion-nav-buttons>
    <ion-content class="form-create create-client">
    	<div class="row">
	    	<div class="button-bar switch">
	            <a class="button button-light" ng-class="{'button-positive': vm.isChoosen('client')}" ng-click="vm.choose('client')">CLIENT (déjà lié à la société)</a>
	            <a class="button button-light prospect" ng-class="{'button-positive': vm.isChoosen('prospect')}" ng-click="vm.choose('prospect')">PROSPECT</a>
	        </div>
    	</div>
    	<div class="row" style="margin-top: 30px">
    		<div class="col-50 left-input-container">
    			<label class="item-input-wrapper shadow-box">
    				<input type="text" placeholder="Nom" ng-model="vm.client.lastName" />
    			</label>    			
    		</div>
    		<div class="col-50 right-input-container">
	    		<label class="item-input-wrapper shadow-box">
	    			<input type="text" placeholder="Prénom" ng-model="vm.client.firstName" />
	    		</label>    			
    		</div>
    	</div>
    	<div class="row">
			<div class="item-input-wrapper shadow-box">				
                <ion-google-place placeholder="Adresse" ng-model="vm.client.address.text" location-changed="vm.locationchanged" />
			</div>
    	</div>
    	<div class="row">
            <div class="small-map-container">
                <ng-include src="'app/views/small-map.html'" />
            </div>
    	</div>
    	<div class="row">
    		<div class="col-50 left-input-container">
    			<label class="item-input-wrapper shadow-box">
    				<input type="tel" placeholder="Téléphone 1" ng-model="vm.client.telephone1" />
    			</label>    			
    		</div>
    		<div class="col-50 right-input-container">
	    		<label class="item-input-wrapper shadow-box">
	    			<input type="tel" placeholder="Téléphone 2" ng-model="vm.client.telephone2" />
	    		</label>    			
    		</div>
    	</div>
    	<div class="row">
			<label class="item-input-wrapper shadow-box">
				<input type="email" placeholder="Mail" ng-model="vm.client.mail" />
			</label>
    	</div>
        <div class="row">
            <label class="item-input-wrapper shadow-box">
                <input type="text" placeholder="Note(s)" ng-model="vm.client.note" />
            </label>
        </div>
        <div class="row">
            <div class="col-33 col-offset-33 shadow-box pands" ng-click="vm.pickProduct()">          
                <div class="center-align-container">
                    <i>{{vm.client.product.name || 'P&S'}}</i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
