<div class="stat-day" ng-controller="dashboardStatDay">
	<div class="row two-band" ng-if="$root.usercontext.role!='service-agent'">
		<div class="col-50 band left-band" ng-if="$root.usercontext.role!='ceo'">
			<h4 ng-if="$root.usercontext.role=='director'">Agence</h4>
			<div class="shadow-box">
				<div class="block block0">
					<div class="center-align-container">
						<div class="circle">
							3/6
						</div>
					</div>				
					<div>Avancement RDV</div>
				</div>
				<div class="block block1">
					<div class="rect-container">
						<div class="rect" ng-switch="$root.usercontext.role">
							<div class="value">1</div>
							<div class="title" ng-switch-default>Vente(s)</div>
							<div class="title" ng-switch-when="commercial">Vente(s) annulée(s)</div>
							<div class="title" ng-switch-when="director">RDV(s) J+1</div>
						</div>
					</div>
				</div>
				<div class="block block2" ng-if="$root.usercontext.role=='director'">
					<div class="center-align-container">
						<div class="circle">
							1/3
						</div>
					</div>
					<div>Service</div>
				</div>
			</div>
		</div>
		<div class="col-50 band left-band" ng-if="$root.usercontext.role=='ceo'">
			<div class="shadow-box">
				<div class="shadow-box block block0">
					<div class="title">P&S</div>
					<div class="row">
						<div class="col-67 title">Ouate.</div>
						<div class="col-33 value">(76)</div>
					</div>
					<div class="row">
						<div class="col-67 title">Hydro.</div>
						<div class="col-33 value">(12)</div>
					</div>
				</div>
				<div class="shadow-box block block1">
					<div class="title">Stock</div>
					<div class="row">
						<div class="col-67 title">Ouate de.</div>
						<div class="col-33 value">435</div>
					</div>
					<div class="row">
						<div class="col-67 title">Hydro.</div>
						<div class="col-33 value">1276</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="col-50 band right-band">
			<h4 ng-if="$root.usercontext.role=='director'">Directeur</h4>
			<div class="shadow-box">
				<div class="block block0">
					<div class="center-align-container">
						<div class="circle">
							2/3
						</div>
					</div>				
					<div>RDV(s) tenu</div>
				</div>
				<div class="block block1">
					<div class="rect-container">
						<div class="rect">
							<div class="value">5</div>
							<div class="title">RDV(s) J+1</div>
						</div>
					</div>
				</div>
				<div class="block block2" ng-if="$root.usercontext.role=='director'">
					<div class="center-align-container">
						<div class="" style="height: 80px">
							/
						</div>
					</div>
					<div>Service</div>
				</div>
			</div>
		</div>
	</div>
	<div class="one-band" ng-if="$root.usercontext.role=='service-agent'">
		<div class="shadow-box row">
			<div class="col-50 col-offset-25">
				<div class="shadow-box block block0">
					<div class="title">Service(s)</div>
					<div class="row">
						<div class="col-67 title">Ouate.</div>
						<div class="col-33 value">(76)</div>
					</div>
					<div class="row">
						<div class="col-67 title">Hydro.</div>
						<div class="col-33 value">(12)</div>
					</div>
				</div>	
				<div class="shadow-box block block1">
					<div class="title">Service(s)</div>
					<div class="value">4300€</div>
				</div>	
				<div class="shadow-box block block2">
					<div class="title">Stock</div>
					<div class="row">
						<div class="col-67 title">Ouate de.</div>
						<div class="col-33 value">435</div>
					</div>
					<div class="row">
						<div class="col-67 title">Hydro.</div>
						<div class="col-33 value">1276</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
	<ng-include src="'app/views/dashboard-stat-day-summary.html'"></ng-include>
	<biz-dashboard-podium biz-mode="day"></biz-dashboard-podium>
</div>