<div class="profile-heading" style="background-image: url({{vm_com.image}});">
	<div class="gauge" style="width:{{vm_com.percent}}%;"></div>
	<div class="remain" style="width:{{100-vm_com.percent}}%;"></div>
    <div class="companyname">	    	
    		{{vm_com.companyName}}
    </div>
    <div class="agencyname">	    	
    		{{vm_com.agencyName}}
    </div>
    <div class="phone">
    	{{vm_com.phone}}
    </div>
    <div class="number-rdv">
    	{{vm_com.numberofCA}}k€ 
    </div>
    <div class="goal-rdv">    	
       	{{vm_com.percent}}% de l’Obj	       
    </div>
</div> 	
<div class ="fullrow">
	<div class="box shadow-box col-33 ranking">
		<div class="center-row">	
			{{vm_com.totalClass}}eme
			<div class ="arrow-label">
				<div ng-if = "vm_com.classTrend==0">=</div>
				<div class="rotate-45" ng-if="vm_com.classTrend==1">
					<i class="ion-arrow-up-c"></i>
				</div>
				<div class="rotate-45" ng-if="vm_com.classTrend==-1">
					<i class="ion-arrow-down-c"></i>
				</div>
			</div>
		</div>				
		<div class="end-row">
			Classement
		</div>
	</div>
	<div class="box shadow-box col-33 ranking">
		<div class="center-row">	
			{{vm_com.reliability}}%
			<div class ="arrow-label">
				<div ng-if = "vm_com.reliabilityStatus==0">=</div>
				<div class="rotate-45" ng-if="vm_com.reliabilityStatus==1">
					<i class="ion-arrow-up-c"></i>
				</div>
				<div class="rotate-45" ng-if="vm_com.reliabilityStatus==-1">
					<i class="ion-arrow-down-c"></i>
				</div>
			</div>
		</div>
		<div class="end-row">
			Taux de transformation
		</div>
	</div>
	<div class="box shadow-box col-33 ranking">
		<div class="center-row">	
			{{vm_com.rdvPerDay}}k€
			<div class ="arrow-label">
				<div ng-if = "vm_com.rdvPerDayStatus==0">=</div>
				<div class="rotate-45" ng-if="vm_com.rdvPerDayStatus==1">
					<i class="ion-arrow-up-c"></i>
				</div>
				<div class="rotate-45" ng-if="vm_com.rdvPerDayStatus==-1">
					<i class="ion-arrow-down-c"></i>
				</div>
			</div>				
		</div>
		<div class="end-row">
			Panier moyen
		</div>					
	</div>
</div>
<div class = "dashboard-content" style="background-color: #67C0A5;">
	<div class ="row">
		<div class = "col-50 col-prospector-1" >
			<div class ="content-progress">
				<div class ="row-odd">
					Quantité du mois
				</div>
				<div class ="row-odd">
					<div class="center-progress">
						<div class ="circle">
							<div class ="centered">
								9/14
							</div>
						</div>
					</div>
					<div>
						Vente / obj
					</div>
				</div>
				<div class ="row-even">
					<div class="center-progress">
						<div class ="circle">
							<div class ="centered">
								7/9
							</div>
						</div>
					</div>
					<div>
						Service
					</div>
				</div>
				<div class ="row-odd" style="height: 160px">
				</div>
			</div>
		</div>
		<div class = "col-50 col-prospector-2">
			<div class ="content-progress">
				<div class ="row-odd">
					CA du mois
				</div>
				<div class ="row-odd">
					<div class="center-progress">
						<div class ="circle" style="border-color: #67C1A6;">
							<div class ="centered">
								20/40
							</div>
						</div>
					</div>
					<div>
						CA / obj
					</div>
				</div>
				<div class ="row-even">
					<div class="center-progress">
						<div class ="circle" style="border-color: #67C1A6;">
							<div class ="centered">
								32/40
							</div>
						</div>
					</div>
					<div>
						CA facturé
					</div>
				</div>
				<br/>
				<div class ="row-even rdvj">
					<div class = "rdvj-number">
						4
					</div>
					<br/>
					<div>
						RDV J+1
					</div>
				</div>
				<br/>
			</div>					
		</div>
	</div>
</div>
<div class="saleday">
	<strong>VENTE(S)</strong> ce jour
	<i class = "ion-arrow-right-c"></i>
</div>
<div class = "podium-image row">
	<div class = "col-25 image" style="background-image: url({{vm_com.imageprofile}});">
		<div class = "pos">
			1
		</div>				
	</div>
	<div class = "col-25 image" style="background-image: url({{vm_com.imageprofile}});" >
		<div class = "pos">
			2
		</div>	
	</div>
	<div class = "col-25 image" style="background-image: url({{vm_com.imageprofile}});">
		<div class = "pos">
			3
		</div>	
	</div>
	<div class = "col-25 tour_commercial">
		<div class = "commercial">
			+5
			<br/>
			tour voir
		</div>
	</div>
</div>
<div class="saleday">
	<strong>Commercial</strong> du mois
	<i class = "ion-arrow-right-c"></i>
</div>

<div class ="row">
	#
	<div class="comercial-image" style="background-image: url({{vm_com.imageprofile}});">
	</div>
</div>