<div class="stat-month">
	<div class="commands" ng-if="$root.usercontext.role=='director'">
		<div class="row">
			<span class="col-50">Sélectionner <i class="icon ion-chevron-down"></i></span>
			<span class="col-50" style="text-align:right"><i class="icon ion-arrow-swap"></i> Directeur</span>
		</div>
	</div>

	<div ng-if="$root.usercontext.role=='prospector'">
		<biz-dashboard-appointment-summary-box></biz-dashboard-appointment-summary-box>
		<biz-dashboard-stat-box biz-stat-name="holding" biz-mode="month"></biz-dashboard-stat-box>
	</div>
	<div ng-if="$root.usercontext.role=='commercial' || $root.usercontext.role=='director'">
		<biz-dashboard-stat-box biz-stat-name="appointment" biz-mode="month"></biz-dashboard-stat-box>
		<biz-dashboard-stat-box biz-stat-name="holding" biz-mode="month"></biz-dashboard-stat-box>
		<biz-dashboard-stat-box biz-stat-name="facture" biz-mode="month"></biz-dashboard-stat-box>
	</div>

	<div ng-if="$root.usercontext.role=='service-agent'">
		<biz-dashboard-stat-box biz-stat-name="pands" biz-mode="month"></biz-dashboard-stat-box>
		<biz-dashboard-stat-box biz-stat-name="ca" biz-mode="month"></biz-dashboard-stat-box>
		<biz-dashboard-stat-box biz-stat-name="stock" biz-mode="month"></biz-dashboard-stat-box>
	</div>

	<div ng-if="$root.usercontext.role=='ceo'">
		<biz-dashboard-stat-box biz-stat-name="appointment" biz-mode="month"></biz-dashboard-stat-box>
		<biz-dashboard-stat-box biz-stat-name="holding" biz-mode="month"></biz-dashboard-stat-box>
		<biz-dashboard-stat-box biz-stat-name="pands" biz-mode="month"></biz-dashboard-stat-box>
		<biz-dashboard-stat-box biz-stat-name="facture" biz-mode="month"></biz-dashboard-stat-box>
		<biz-dashboard-stat-box biz-stat-name="stock" biz-mode="month"></biz-dashboard-stat-box>
	</div>

	<biz-dashboard-podium biz-mode="month"></biz-dashboard-podium>
</div>