<div class="stat" ng-controller="dashboardStat">
	<div class="button-bar switch">
        <a class="button button-light month" ng-class="{'button-positive': vm.chosen('month')}" ng-click="vm.goto('month')">Mois</a>
        <a class="button button-light day" ng-class="{'button-positive': vm.chosen('day')}" ng-click="vm.goto('day')">Jour</a>
        <a class="button button-light year" ng-class="{'button-positive': vm.chosen('year')}" ng-click="vm.goto('year')">Année</a>
    </div>    
	<ng-include ng-if="vm.chosen('day')" src="'app/views/dashboard-stat-day.html'"></ng-include>
	<ng-include ng-if="vm.chosen('month')" src="'app/views/dashboard-stat-month.html'"></ng-include>
	<ng-include ng-if="vm.chosen('year')" src="'app/views/dashboard-stat-year.html'"></ng-include>    
</div>