<div class="stat-year">
	<div class="commands" ng-if="$root.usercontext.role=='director'">
		<div class="row">
			<span class="col-25">Sélectionner <i class="icon ion-chevron-down"></i></span>
			<span class="col-25 col-offset-50 compare"><i class="icon ion-arrow-swap"></i> Directeur</span>
		</div>
	</div>
	<biz-dashboard-stat-box biz-stat-name="appointment" biz-mode="year"></biz-dashboard-stat-box>
	<biz-dashboard-stat-box biz-stat-name="holding" biz-mode="year"></biz-dashboard-stat-box>
	<biz-dashboard-stat-box biz-stat-name="facture" biz-mode="year"></biz-dashboard-stat-box>
</div>