<div class="profile-heading" style="background-image: url({{vm.image}});">
	<div class="gauge" style="width:{{vm.percent}}%;"></div>
	<div class="remain" style="width:{{100-vm.percent}}%;"></div>
    <div class="companyname">	    	
    		{{vm.companyName}}
    </div>
    <div class="agencyname">	    	
    		{{vm.agencyName}}
    </div>
    <div class="phone">
    	{{vm.phone}}
    </div>
    <div class="number-rdv">
    	{{vm.numberofRDV}} RDV TENU
    </div>
    <div class="goal-rdv">    	
       	{{vm.percent}}% de l’Obj	       
    </div>
</div> 	
<div class ="fullrow">
	<div class="box shadow-box col-33 ranking">
		<div class="center-row">	
			{{vm.totalClass}}eme
			<div class ="arrow-label">
				<div ng-if = "vm.classTrend==0">=</div>
				<div class="rotate-45" ng-if="vm.classTrend==1">
					<i class="ion-arrow-up-c"></i>
				</div>
				<div class="rotate-45" ng-if="vm.classTrend==-1">
					<i class="ion-arrow-down-c"></i>
				</div>
			</div>
		</div>				
		<div class="end-row">
			Classement
		</div>
	</div>
	<div class="box shadow-box col-33 ranking">
		<div class="center-row">	
			{{vm.reliability}}%
			<div class ="arrow-label">
				<div ng-if = "vm.reliabilityStatus==0">=</div>
				<div class="rotate-45" ng-if="vm.reliabilityStatus==1">
					<i class="ion-arrow-up-c"></i>
				</div>
				<div class="rotate-45" ng-if="vm.reliabilityStatus==-1">
					<i class="ion-arrow-down-c"></i>
				</div>
			</div>
		</div>
		<div class="end-row">
			Taux de fiabilité
		</div>
	</div>
	<div class="box shadow-box col-33 ranking">
		<div class="center-row">	
			{{vm.rdvPerDay}}
			<div class ="arrow-label">
				<div ng-if = "vm.rdvPerDayStatus==0">=</div>
				<div class="rotate-45" ng-if="vm.rdvPerDayStatus==1">
					<i class="ion-arrow-up-c"></i>
				</div>
				<div class="rotate-45" ng-if="vm.rdvPerDayStatus==-1">
					<i class="ion-arrow-down-c"></i>
				</div>
			</div>				
		</div>
		<div class="end-row">
			RDV moyen /jour
		</div>					
	</div>
</div>
<div class = "dashboard-content">
	<div class ="row">
		<div class = "col-50 col-prospector-1" >
			<div class ="content-progress">
				<div class ="row-odd">
					<div class="center-progress">
						<div class ="circle">
							<div class ="centered">
								3/6
							</div>
						</div>
					</div>
					<div>
						Avancement RDV
					</div>
				</div>
				<div class ="row-even">
					<div class="center-progress">
						<div class ="circle">
							<div class ="centered">
								2/3
							</div>
						</div>
					</div>
					<div>
						RDV tenu
					</div>
				</div>
				<br/>
			</div>
		</div>
		<div class = "col-50 col-prospector-2">
			<div class ="content-progress">
				<div class ="row-odd">
					<div class="center-progress">
						<div class ="circle" style="border-color: #67C1A6;">
							<div class ="centered">
								1/2
							</div>
						</div>
					</div>
					<div>
						Vente
					</div>
				</div>
				<div class ="row-even rdvj">
					<div class = "rdvj-number">
						5
					</div>
					<br/>
					<div>
						RDV J+1
					</div>
				</div>
				<br/>
			</div>					
		</div>
	</div>
</div>
<div class="podiumday">
	Podium du jour
	<i class = "ion-arrow-right-c"></i>
</div>
<div class = "podium-image row">
	<div class = "col-25 image" style="background-image: url({{vm.imageprofile}});">
		<div class = "pos">
			1
		</div>				
	</div>
	<div class = "col-25 image" style="background-image: url({{vm.imageprofile}});" >
		<div class = "pos">
			2
		</div>	
	</div>
	<div class = "col-25 image" style="background-image: url({{vm.imageprofile}});">
		<div class = "pos">
			3
		</div>	
	</div>
	<div class = "col-25 tour">
		+5
		<br/>
		tour voir
	</div>
</div>
<div class="podiumday">
	Prospecteur du mois
	<i class = "ion-arrow-right-c"></i>
</div>

<div class ="row">
	#
	<div class = "pros-image" style="background-image: url({{vm.imageprofile}});">
	</div>
</div>