<div class="row summary" ng-if="$root.usercontext.role=='service-agent'">
	<div class="col-33 col0">
		<div class="value">2/3</div>
		<div class="title">Service(s)</div>
	</div>
	<div class="col-33 col1">
		<div class="value">0/1</div>
		<div class="title">SAV</div>
	</div>
	<div class="col-33 col2">
		<div class="value">3</div>
		<div class="title">Service J+1</div>
	</div>
</div>
<div class="row summary" ng-if="$root.usercontext.role=='director' || $root.usercontext.role=='ceo'">
	<div class="col-33 col0">
		<div class="value">8k€</div>
		<div class="title">3 service(s)</div>
	</div>
	<div class="col-33 col1">
		<div class="value">10k€</div>
		<div class="title">3 vente(s)</div>
	</div>
	<div class="col-33 col2">
		<div class="value">3,5K€</div>
		<div class="title">1 annule(s)</div>
	</div>
</div>