<div class="profile-heading" style="background-image: url({{vm_man.image}});">
	<div class="gauge" style="width:{{vm_man.percent}}%;"></div>
	<div class="remain" style="width:{{100-vm_man.percent}}%;"></div>
    <div class="companyname">	    	
    		{{vm_man.companyName}}
    </div>
    <div class="agencyname">	    	
    		{{vm_man.agencyName}} - {{vm_man.agencyRank}}eme
    </div>
    <div class="phone">
    	{{vm_man.phone}}
    </div>
    <div class="number-rdv">
    	{{vm_man.numberofRDV}} RDV TENU
    </div>
    <div class="goal-rdv">    	
       	{{vm_man.percent}}% de l’Obj	       
    </div>
</div> 	
<div class ="fullrow">
	<div class="box shadow-box col-33 ranking">
		<div class="center-row">	
			{{vm_man.totalClass}}eme
			<div class ="arrow-label">
				<div ng-if = "vm_man.classTrend==0">=</div>
				<div class="rotate-45" ng-if="vm_man.classTrend==1">
					<i class="ion-arrow-up-c"></i>
				</div>
				<div class="rotate-45" ng-if="vm_man.classTrend==-1">
					<i class="ion-arrow-down-c"></i>
				</div>
			</div>
		</div>				
		<div class="end-row">
			Classement directeur
		</div>
	</div>
	<div class="box shadow-box col-33 ranking">
		<div class="center-row">	
			{{vm_man.reliability}}%
			<div class ="arrow-label">
				<div ng-if = "vm_man.reliabilityStatus==0">=</div>
				<div class="rotate-45" ng-if="vm_man.reliabilityStatus==1">
					<i class="ion-arrow-up-c"></i>
				</div>
				<div class="rotate-45" ng-if="vm_man.reliabilityStatus==-1">
					<i class="ion-arrow-down-c"></i>
				</div>
			</div>
		</div>
		<div class="end-row">
			Taux transformation
		</div>
	</div>
	<div class="box shadow-box col-33 ranking">
		<div class="center-row">	
			{{vm_man.rdvPerDay}}k€
			<div class ="arrow-label">
				<div ng-if = "vm_man.rdvPerDayStatus==0">=</div>
				<div class="rotate-45" ng-if="vm_man.rdvPerDayStatus==1">
					<i class="ion-arrow-up-c"></i>
				</div>
				<div class="rotate-45" ng-if="vm_man.rdvPerDayStatus==-1">
					<i class="ion-arrow-down-c"></i>
				</div>
			</div>				
		</div>
		<div class="end-row">
			panier moyen
		</div>					
	</div>
</div>

<div class ="row manager-content">
	<div class = "col-33 shadow-box" >
		<div class ="row-odd  padding">
			<div class="center-progress">
				<div class ="circle">
					<div class ="centered">
						9/14
					</div>
				</div>
			</div>
			<div>
				RDV du jour
			</div>
		</div>				
	</div>
	<div class = "col-33 shadow-box">
		<div class ="content-progress">
			<div class ="row-odd padding">
				<div class="center-progress">
					<div class ="circle" style="border-color: #67C1A6;">
						<div class ="centered">
							9/15
						</div>
					</div>
				</div>
				<div>
					Vente / obj
				</div>
			</div>				
		</div>					
	</div>
	<div class = "col-33 shadow-box">
		<div class ="content-progress">
			<div class ="row-odd padding">
				<div class="center-progress">
					<div class ="circle" style="border-color: #E9BA91;">
						<div class ="centered">
							32/90
						</div>
					</div>
				</div>
				<div>
					CA facturé
				</div>
			</div>				
		</div>					
	</div>
</div>

<div class="row  rdv-value">
	<div class ="col-33">
		<div class="number">3</div>		
		<div class="label">RDV J+1</div>
	</div>
	<div class ="col-33">
	</div>
	<div class ="col-33">
		<div class="number">14</div>		
		<div class="label">RDV agence J+1</div>
	</div>
</div>

<div class="podiumday">
	VENTE ce jour <strong>10K€</strong>
	<i class = "ion-arrow-right-c"></i>
</div>
<div class = "podium-image row">
	<div class = "col-25 image" style="background-image: url({{vm_man.imageprofile}});">
		<div class = "pos">
			1
		</div>				
	</div>
	<div class = "col-25 image" style="background-image: url({{vm_man.imageprofile}});" >
		<div class = "pos">
			2
		</div>	
	</div>
	<div class = "col-25 image" style="background-image: url({{vm_man.imageprofile}});">
		<div class = "pos">
			3
		</div>	
	</div>
	<div class = "col-25 tour_commercial">
		+5
		<br/>
		tour voir
	</div>
</div>
<div class="podiumday">
	DIRECTEUR du mois
	<i class = "ion-arrow-right-c"></i>
</div>

<div class="top-manager-label">
	meilleur rendement par vendeur
</div>

<div class ="row">		
	#	
	<div class = "pros-image" style="background-image: url({{vm_man.imageprofile}});">
	</div>
</div>