<ion-view view-title="Dashboard" class = "dashboard {{$root.usercontext.role}}"  hide-nav-bar="true">
	<ion-content>
		<biz-dashboard-heading></biz-dashboard-heading>		
		<biz-dashboard-ranking></biz-dashboard-ranking>
		<ng-include src="'app/views/dashboard-stat.html'"></ng-include>		
	</ion-content>
</ion-view>
