<div class="item item-input-inset search-filter-panel first-item" ng-controller="listFilterInput">
    <label class="item-input-wrapper">
        <input type="text" placeholder="rechercher..." ng-change="vm.textchanged()" ng-model="vm.text">
    </label>
    <a class="button button-icon icon ion-ios-settings" ng-click="vm.gotoFilter()"></a>
</div>