<ion-view view-title="Login" hide-nav-bar="true">
	<ion-content class="login">	
        <div class="list">        	
	        <div class="item logo">
	            <img src="img/bs-logo-full.svg" alt="BigStat App">
	        </div>        
            <label class="item item-input">
                <span class="input-label hide">Courriel</span>
                <input type="email" placeholder="Courriel" ng-model="vm.email" />
            </label>
            <label class="item item-input">
                <span class="input-label hide">Mot de passe</span>
                <input type="password" placeholder="Mot de passe" ng-model="vm.password" />
            </label>
            <div class="item connect">
            	<button class="item submit button" type="submit" ng-click="vm.login()">Me connecter</button>
            </div>
            <div class="item forget-password">
            	<button class="item button button-clear" ng-click="doSomething()">Mot de passe oublié ?</button>        
            </div>
            <div class="item create-account">
            	<button class="item button" ng-click="vm.goToRegister()">Créer ma compagnie</button>	
            </div>
        </div>    
    </ion-content>
</ion-view>