<ion-content class="padding pands-list" ng-controller="pandsList">
	<div class="list search-filter">
        <ng-include ng-init="fortab='search';forview='pands-list'" src="'app/views/list-filter-input.html'"></ng-include>
        <div class="item  row">        	
        	<div class="create">        	
        		<a >créer un Produit/Service</a>
			</div>
        </div>
    </div> 

    <ion-list class="result">
	    <ion-item ng-repeat="it in vm.items" class="shadow-box" ng-click="vm.pick(it)">
	        <div class="row pands-item">
	            <div class="col-50 name value">
	                {{it.name}}
	            </div>
	            <div class="col-25 quantity value">
	                ({{it.quantity}})
	            </div>
	            <div class="col-25 money value">
	                {{it.price | moneydisplay}}€
	            </div>            
	        </div>	        	        
	    </ion-item>     
	</ion-list>
</ion-content>
