<ion-view view-title="filter client" class="filter-client">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="submit()"><i class="icon ion-checkmark"></i></button>
    </ion-nav-buttons>
    <ion-content class="filter-client">
        <div class="card">
            <div class="item item-divider">
                TIER PAR:
            </div>
            <div class="item item-text-wrap">
                <ion-checkbox ng-model="prospect.checked">Annulé</ion-checkbox>
                <ion-checkbox ng-model="client.checked">Absent</ion-checkbox>
                <ion-checkbox ng-model="reported.checked">Reporté</ion-checkbox>
                <ion-checkbox ng-model="notSuite.checked">Sans suite</ion-checkbox>
                <ion-checkbox ng-model="negociation.checked">Négociation</ion-checkbox>
                <ion-checkbox ng-model="sale.checked">Vente</ion-checkbox>
            </div>
            <div class="item item-divider">
                DATE D’AJOUT:
            </div>
            <div class="item item-text-wrap">
                <ion-radio ng-model="choice" ng-value="'A'">Aujourd’hui</ion-radio>
                <ion-radio ng-model="choice" ng-value="'B'">Cette semaine</ion-radio>
                <ion-radio ng-model="choice" ng-value="'C'">Mois</ion-radio>
                <ion-radio ng-model="choice" ng-value="'C'">Indifférent</ion-radio>
            </div>
    </ion-content>
</ion-view>
