<ion-view view-title="Palmares" hide-nav-bar="true" class="prize" >
  <ion-slide-box show-pager="false">
      <ion-slide class="first-slide">
      	<biz-prize-list biz-role="prospector"></biz-prize-list>
      </ion-slide>
      <ion-slide>
      	<biz-prize-list biz-role="commercial"></biz-prize-list>
      </ion-slide>
      <ion-slide >
      	<biz-prize-list biz-role="director"></biz-prize-list>
      </ion-slide>
      <ion-slide >
      	<biz-prize-list biz-role="agence"></biz-prize-list>
      </ion-slide>
      <ion-slide class="last-slide">
      	<biz-prize-list biz-role="service-agent"></biz-prize-list>
      </ion-slide>
    </ion-slide-box>
</ion-view>
