<div class="prize-list {{vm.role}}">
    <div class="bar bar-header bar-light">
      <h1 class="title">{{vm.role | roletext}}</h1>
    </div>
    <ion-content class="padding content" ng-class="{'has-header':vm.forPicker}">
        <div class="list search-filter">        
            <ng-include ng-init="fortab='prize';forview='profile'" src="'app/views/list-filter-input.html'"></ng-include>
        </div>                
        <ion-list>
            <ion-item ng-repeat="it in vm.items" class="prize-item" ng-click="vm.gotoProfile(it)">
                <div class="avatar status-{{it.status}} feeling-{{it.feeling}}" style="background-image: url({{it.avatar}});">
                </div>          
                <div class="data">
                    <div class="row feeling-time">
                        <span class="feeling col-75">{{it.feeling}}</span>
                        <span class="time col-25" ng-if="!vm.forPicker">{{it.date | momenttext:'now'}}</span>
                    </div>
                    <div class="row name-checked">
                        <span class="name col-75">{{it.firstName}} {{it.lastName}}</span>
                        <ion-checkbox ng-model="it.checked" ng-if="vm.forPicker && vm.multiPicker"></ion-checkbox>
                    </div>
                    <p class="bigz">{{it.bigz}}</p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</div>