<div ng-controller="profileHeading" class="heading profile-heading" 
    style="background-image: url({{vm.profile.image}});">
	<div class="gauge" style="width:{{vm.percent}}%;"></div>
	<div class="remain" style="width:{{100-vm.percent}}%;"></div>
    <div class="name">
    	<h2>
    		{{vm.profile.firstName}} {{vm.profile.lastName}}
    	</h2>
    </div>
    <div class="goal">    	
       	{{vm.percent}}% sur objectif
        <i class="icon ion-compose" style=""></i>
    </div>
</div>

