﻿<ion-view view-title="" class="profile profile-{{vm.profile.category}}">
    <ion-nav-bar class="nav-bar-transparent">  
        <ion-nav-back-button>
        </ion-nav-back-button>   
    </ion-nav-bar>    
    <ion-content class="profile-view behide-nav-bar">
        <ng-include src="'app/views/profile-heading.html'"></ng-include>            
        <div ng-if="vm.profile.category=='agence'">
            <biz-profile-info-box biz-data="
            [
            {'name':'RDV tenu / jour','value':{{vm.profile.indicator.appDoneByCallOpByDayMoy}}},
            {'name':'RDV fiable','value':{{vm.profile.indicator.reliabilityRate}}, 'type': 'percent'},
            {'name':'RDV pour 1 vente facturee','value':{{vm.profile.indicator.nbSellerAppForOneSale}}},
            {'name':'CA mensuel moyen tenu','value':{{vm.profile.indicator.caDoneMoy}}, 'type': 'money'},
            {'name':'Réussite sur RDV client','value':{{vm.profile.indicator.successRateBySellerAppClient}}, 'type': 'percent'},
            {'name':'Réussite sur RDV prospect','value':{{vm.profile.indicator.successRateBySellerAppProspect}}, 'type': 'percent'},
            {'name':'Ca mensuel moyen facturé','value':{{vm.profile.indicator.caChargedMoy}}, 'type': 'money'},
            {'name':'Accomplissement','value':{{vm.profile.indicator.techAppAchievedRate}}, 'type': 'percent'},
            {'name':'SAV','value':{{vm.profile.indicator.savRate}}, 'type': 'percent'}
            ]"></biz-profile-info-box>            
            <biz-profile-product-rank></biz-profile-product-rank>
            <biz-profile-ca-chart></biz-profile-ca-chart>        
            <biz-profile-taux-chart biz-profile="vm.profile"></biz-profile-taux-chart>
            <biz-profile-sale-ratio></biz-profile-sale-ratio>
        </div>
        <div ng-if="vm.profile.category=='director'">
            <biz-profile-info-box biz-data="
            [
            {'name':'CA moyen','value':{{vm.profile.indicator.caDoneMoy}},'type': 'money'},
            {'name':'taux turn over','value':{{vm.profile.indicator.sellerTurnOverRate}}, 'type': 'percent'},
            {'name':'Panier moyen','value':{{vm.profile.indicator.averageBasket}},'type': 'money'},
            {'name':'Réussite sur RDV prospect','value':{{vm.profile.indicator.successRateBySellerAppProspect}}, 'type': 'percent'},
            {'name':'Réussite sur RDV client','value':{{vm.profile.indicator.successRateBySellerAppClient}}, 'type': 'percent'},
            {'name':'Annulation','value':{{vm.profile.indicator.saleCanceledRate}}, 'type': 'percent'}
            ]"></biz-profile-info-box>
            <biz-profile-appointment-history></biz-profile-appointment-history>
            <biz-profile-product-rank></biz-profile-product-rank>
            <biz-profile-ca-chart></biz-profile-ca-chart>        
            <biz-profile-taux-chart biz-profile="vm.profile"></biz-profile-taux-chart>
            <biz-profile-sale-ratio></biz-profile-sale-ratio>
        </div>
        <div ng-if="vm.profile.category=='commercial'">
            <biz-profile-info-box biz-data="
            [
            {'name':'CA moyen','value':{{vm.profile.indicator.caDoneMoy}},'type': 'money'},
            {'name':'RDV traité / jour','value':{{vm.profile.indicator.nbSaleHandledForOneSaleCharged}}},
            {'name':'Panier moyen','value':{{vm.profile.indicator.averageBasket}},'type': 'money'},
            {'name':'Réussite sur RDV prospect','value':{{vm.profile.indicator.successRateBySellerAppProspect}}, 'type': 'percent'},
            {'name':'Réussite sur RDV client','value':{{vm.profile.indicator.successRateBySellerAppClient}}, 'type': 'percent'},
            {'name':'Annulation','value':{{vm.profile.indicator.saleCanceledRate}}, 'type': 'percent'}
            ]"></biz-profile-info-box>
            <biz-profile-appointment-history></biz-profile-appointment-history>
            <biz-profile-product-rank></biz-profile-product-rank>
            <biz-profile-ca-chart></biz-profile-ca-chart>        
            <biz-profile-taux-chart biz-profile="vm.profile"></biz-profile-taux-chart>
            <biz-profile-sale-ratio></biz-profile-sale-ratio>
        </div>
        <div ng-if="vm.profile.category=='prospector'">
            <biz-profile-info-box biz-data="
            [
            {'name':'RDV fiables','value':{{vm.profile.indicator.reliabilityRate}},'type': 'percent'},
            {'name':'RDV traité / jour','value':{{vm.profile.indicator.appDoneByCallOpByDayMoy}}},
            {'name':'RDV vendu','value':{{vm.profile.indicator.successRate}},'type': 'percent'}
            ]"></biz-profile-info-box>
            <biz-profile-appointment-history></biz-profile-appointment-history>
            <biz-profile-product-rank></biz-profile-product-rank>
            <biz-profile-ca-chart></biz-profile-ca-chart>
            <biz-profile-taux-chart biz-profile="vm.profile"></biz-profile-taux-chart>
        </div>
        <div ng-if="vm.profile.category=='service-agent'">
            <biz-profile-info-box biz-data="
            [
            {'name':'CA moyen mensuel facturé','value':{{vm.profile.indicator.caAchievedMoy}},'type': 'money'},
            {'name':'Accomplissement','value':{{vm.profile.indicator.techAppAchievedRate}}, 'type': 'percent'},
            {'name':'service(s) accomplie / mois','value':{{vm.profile.indicator.techAppAchievedByMonth}}}
            ]"></biz-profile-info-box>            
            <biz-profile-product-rank></biz-profile-product-rank>
            <biz-profile-ca-chart></biz-profile-ca-chart>
            <biz-profile-taux-chart biz-profile="vm.profile"></biz-profile-taux-chart>
        </div>
    </ion-content>
</ion-view>