<ion-view view-title="{{vm.category | roletext}} choisir" class="profile-picker">  
	<ion-nav-buttons side="right" >
        <button class="button" ng-click="vm.submit()" ng-if="vm.multiPicker"><i class="icon ion-checkmark"></i></button>
    </ion-nav-buttons>
  	<biz-prize-list biz-role="{{vm.category}}" biz-items="vm.items" biz-for-picker="true"></biz-prize-list>
</ion-view>
