<ion-list class="result month-week-view" can-swipe="true">
    <ion-item ng-repeat="it in vm.items">            
        <div class="row header" ng-click="vm.godown()">
            <h3>{{it.time | momenttext:vm.view()}}</h3>
        </div>

        <div class="row row-2">
            <div class="row no-padding c-1 shadow-box">
                <div class="col-20 box bilan">
                    <div class="title">BILAN</div>                    
                </div>
                <div class="col-20 box">
                    <div class="title">En attente</div>
                    <div class="value">{{it.pendingSale}}</div>
                </div>
                <div class="col-25 box">
                    <div class="title">S. accomplie</div>
                    <div class="value">{{it.invoiceSale}}</div>
                </div>
                <div class="col-20 box">
                    <div class="title">Facturée</div>
                    <div class="value">{{it.performedService}}</div>
                </div>
                <div class="col-15 box">
                    <div class="title">Autres</div>
                    <div class="value">{{it.otherSale}}</div>
                </div>                
            </div>          
        </div>
    </ion-item>     
</ion-list>
