<ion-list class="result day-view" can-swipe="true" ng-if="vm.items.length!=0">
    <ion-item ng-repeat="item in vm.items">
        <ion-item>
            <div class="row header row-1" ng-click="vm.godown()">
                <h3>{{item.time | momenttext:vm.view()}} {{item.items.length}} <span>VENTE</span></h3>
            </div>
        </ion-item>    
    
        <ion-item ng-repeat="it in item.items" class="shadow-box">
            <div class="row row-item">
                <div class="col-35 title value clip-text">
                    <strong>Ouate de cell.</strong>
                </div>
                <div class="col-25 title value clip-text">
                    {{it.user}}
                </div>
                <div class="col-25 title value clip-text">
                    <div class="value">{{it.customer}}</div>
                </div>
                <div class="col-25 title value clip-text">
                    <strong>{{it.total}}k€</strong>                                        
                </div>                    
            </div>
            <div class="row row-item">
                <div class="col-80 title value clip-text">
                    <div class="value">H.Gando.</div>
                </div>
                <div class="col-20 value clip-text">
                    <div class="title">FI ACC</div>
                </div>
            </div>
            <div class="row status {{it.status}} value clip-text">
            {{it.status | salestatustext}}
            </div>
            <ion-option-button class="icon ion-ios-email-outline"></ion-option-button>
            <ion-option-button class="icon ion-ios-telephone-outline"></ion-option-button>  
        </ion-item>     
    </ion-item>
</ion-list>