<ion-view view-title="Search" hide-nav-bar="true" class="search">    
    <div class="button-bar switch">
        <a class="button button-light appointment" ng-class="{'button-positive': vm.chosen('appointment')}" ng-click="vm.goto('appointment')">RDV</a>
        <a class="button button-light sale" ng-class="{'button-positive': vm.chosen('sale')}" ng-click="vm.goto('sale')">VENTE</a>
        <a class="button button-light pands" ng-class="{'button-positive': vm.chosen('pands')}" ng-click="vm.goto('pands')">P&S</a>
        <a class="button button-light client" ng-class="{'button-positive': vm.chosen('client')}" ng-click="vm.goto('client')">CLIENT</a>
    </div>
    <div class="bs-tab-content" ng-if="vm.chosen('appointment')">
        <ng-include src="'app/views/appointment-list.html'"></ng-include>
    </div>
    <div class="bs-tab-content" ng-if="vm.chosen('sale')">
        <ng-include src="'app/views/search-sale.html'"></ng-include>
    </div>
    <div class="bs-tab-content" ng-if="vm.chosen('pands')">
        <ng-include src="'app/views/pands-list.html'"></ng-include>
    </div>
    <div class="bs-tab-content" ng-if="vm.chosen('client')">
        <ng-include src="'app/views/client-list.html'"></ng-include>
    </div>
</ion-view>
