<ion-content class="padding sale-list" ng-controller="saleList">
	<div class="list search-filter">
        <ng-include ng-init="fortab='search';forview='sale-list'" src="'app/views/list-filter-input.html'"></ng-include>
        <div class="item  row">
        	<span class="col-50" ng-if="vm.cangoupper()"> 
        		<i class="icon ion-ios-arrow-back"></i>       	
        		<a href="" ng-click="vm.goup()">{{vm.upperview()}}</a>
			</span>        	
        </div>
    </div> 
    <ng-include src="'app/views/sale-list-monthweekview.html'" ng-if="vm.view()=='month' || vm.view()=='week'"></ng-include>  
    <ng-include src="'app/views/sale-list-dayview.html'" ng-if="vm.view()=='day'"></ng-include>   
</ion-content>