<div class="seller-sale-pending">
	<div class="listsalepending">
		<ion-item>
			<div class="row header">
		        <h3>{{vm.pendingSaleData.time | momenttext:'days'}}</h3>        
		    </div>	    
		    <div class="shadow-box row lineitem" ng-repeat="it in vm.pendingSaleData.items">
			   
		    	<div class="col-50">
		    		<br/>
		    		<div class="title">{{it.title}}</div>
		    		<div>Pose</div>
		    	</div>
		    	<div class="col-25">
		    		<div class ="quantity">Quantité</div>
		    		<div class ="value">{{it.quantity}}</div>
		    		<br/>
		    	</div>
		    	<div class="col-25">
		    		<div class ="amount">Montant</div>
		    		<div class ="value">{{it.amount}}</div>
		    		<div class ="value">{{it.pose}}</div>
		    	</div>		   
		    </div>
	    </ion-item>
    </div>

    <div>
    	<div class ="cashorfunding">
    		<div class = "row">
	    		<div class = "col-50">
	    			HT: 
	    			<input ng-model="cashValue"></input>
	    			€
	    		</div>
	    		<div class = "col-50">
	    			TTC: 
	    			<input ng-model="fundingValue"></input>
	    			€
	    		</div>
    		</div>
    	</div>
    </div>
    <div>    	
    	<div class ="row">
    		<div class ="button-bar switch">
    			<a class="button button-light" ng-class="{'button-positive': vm.isChoosen('fundingstatus')}" ng-click="vm.choose('fundingstatus')">STATUT FINANCEMENT</a>
                <a class="button button-light" ng-class="{'button-positive': vm.isChoosen('instudy')}" ng-click="vm.choose('instudy')">EN ETUDE</a>
    		</div>
    	</div>
    </div>
    <div>
    	GALLERIE PHOTO
    </div>
    <div class="actionbar">
    	<div class="row">
    		<div class = "col-33 box">
                <button class ="shadow-box canceled">
                     Annulé
                </button>
    		</div>
    		<div class = "col-33 box">
                <button class ="shadow-box charge" ng-click="vm.charge()">
                     Facturer
                </button>
    		</div>
    		<div class = "col-33 box">
                <button class ="shadow-box edit" ng-click="vm.edit()">
                     Modiﬁer
                </button>	    		
    		</div>
    	</div>    	
    </div>


</div>