<div class="seller-appointment" ng-controller="sellerAppointment">
    <div class="row row-3">	
    	<ul class="list">
    		<li class="event-item type-{{it.type}}" ng-repeat="it in vm.appointment.events">
                <strong>{{it.time | momenttext:'day2'}}</strong> à {{it.time | momenttext:'hour2'}} avec {{it.client}}
    		</li>
    	</ul>
    </div>

    <div class="row row-4">
    	<div class="col col-50">
    		<div class="box shadow-box address">
    			<h4>Prospect:</h4>
    			<p class="name">FOURNIER DANY</p>
    			<p class="street">29 rue des marais,
    			72000 Le Mans</p>
    		</div>
    		<div class="box shadow-box note">
    			<h2>Note:</h2>
                <p>le client a déjà de l’isolation, maison de 83 ans. Ils veulent un
    devis pour un traitement de toiture. Ils ont déjà trois devis. Ils
    sont attentifs à la ponctualité.</p>  
    		</div>
    	</div>
    	<div class="col col-50">
    		<div class="box shadow-box contact">
        		<p class="phone1">06 50 30 77 32</p>
    			<p class="phone2">02 43 86 99 06</p>
    			<p class="email">bigstat@bs.com</p>
    		</div>
            <ng-include src="'app/views/small-map.html'" />
    	</div>
    </div>

    <div class="status-confirm">
        <div class="status">
            <div class=" box">
                <div class="shadow-box cancel">
                    Annulé
                </div>
            </div>
            <div class=" box">
                 <div class="shadow-box absent">
                    Absent
                </div>
            </div>
            <div class="reported box">
                <div class="shadow-box reported">
                    Reporté
                </div>
            </div>
            <div class=" box">
                <div class="shadow-box negotiation">
                    Négoc.
                </div>
            </div>
            <div class="box ">
                <div class="shadow-box not-suite ">
                    Sans suite
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-67">
                <textarea placeholder="Commentaire(s)" />
            </div>
            <div class=" col col-33">
                <button class="button shadow-box">CONFIRMER</button>

            </div>
            
        </div>
    </div>
</div>