<div class="seller-sale-approve">
	<div class="listsalepending">
		<ion-item>
			<div class="row header">
		        <h3>{{vm.pendingSaleData.time | momenttext:'days'}}</h3>        
		    </div>	   
		    <div class="shadow-box row lineitem" ng-repeat="it in vm.pendingSaleData.items">
			   
		    	<div class="col-50">
		    		<br/>
		    		<div class="title">{{it.title}}</div>
		    		<div>Pose</div>
		    	</div>
		    	<div class="col-25">
		    		<div class ="quantity">Quantité</div>
		    		<div class ="value">{{it.quantity}}</div>
		    		<br/>
		    	</div>
		    	<div class="col-25">
		    		<div class ="amount">Montant</div>
		    		<div class ="value">{{it.amount}}</div>
		    		<div class ="value">{{it.pose}}</div>
		    	</div>		   
		    </div>
	    </ion-item>
    </div>

    <div>
    	<div class ="cashorfunding">
            <div class ="row">
        		<div class = "col-50">
        			HT: 
        			<input ng-model="cashValue"></input>
        			€
        		</div>
        		<div class = "col-50">
        			TTC: 
        			<input ng-model="fundingValue"></input>
        			€
        		</div>
            </div>
    	</div>
    </div>
 
    <div class="actionbar">
    	<div class="row">
    		<div class = "col-33 box">
                <button class ="shadow-box accept" ng-click="vm.accept()">
                     FINANCEMENT ACCEPTE
                </button>
    		</div>
    		<div class = "col-33 box">
                <div class ="shadow-box comment">
                     COMMENTAIRE(S)
                </div>
    		</div>
    		<div class = "col-33 box">
                <button class ="shadow-box gallery">
                     GALLERIE PHOTO
                </button>	    		
    		</div>
    	</div>    	
    </div>

    <div class="commentbox">
        <div class="shadow-box">
            <textarea rows="4">valid</textarea>
        </div>
    </div>

</div>