<div class="seller-service" ng-controller="sellerService" can-swipe="true">
	<div ng-repeat="item in vm.items">
        <div class="row header">
            <h3>{{item.time | momenttext:'day2'}}</h3>
        </div>
        <div class="service-items">    
	        <div ng-repeat="it in item.items" class="shadow-box">
	            <div class="row row-item">
	                <div class="col-50">                    
	                </div>
	                <div class="col-25">
	                    <div class="quantity">Quantité</div>
	                </div>
	                <div class="col-25">
	                    <div class="stock">Stock</div>
	                </div>                
	            </div>
	            <div class="row row-item">
	                <div class="col-50 servicename">{{it.serviceName}}                   
	                </div>
	                <div class="col-25 quantity">
	                    {{it.quantity}}
	                </div>
	                <div class="col-25">
	                    <div ng-class="{'positivevalue':it.stock>=0, 'negativevalue':it.stock<0}">{{it.stock}}</div>
	                </div>                
	            </div>
	            <div class="row status {{it.status}} value">
	           	 	{{it.status | salestatustext}}
	            </div>          
	        </div> 
        </div>
    </div>
    <div class="row commentandgallery">
    	<div class = "col-50 comment">
    		  COMMENTTAIRE(S)          
    	</div>
    	<div class="col-50">
    		<div class ="gallery">
    		  GALLERIE PHOTO          
    		</div>
    	</div>
    </div>
    <div class="commenttextarea shadow-box">
        <textarea rows="4">Les surfaces sont erronées. manque 20m2</textarea>
    </div>

    <div class="actionbar">
    	<div class="row">
    		<div class = "col-50 box">
                <button class ="shadow-box encours">
                     En cours
                </button>
    		</div>
    		<div class = "col-50 box">
                <button class ="shadow-box accomplish">
                     Accomplie
                </button>	    		
    		</div>
    	</div>    	
    </div>
</div>