<div>
    <ion-list class="productList">
        <ion-item ng-repeat="item in vm.listProducts">
            <div class="row">
                <div class="col-50 box shadow-box quantite" ng-click="vm.pick($index)">
                    <div class ="verticalcenter">
                        <div>
                            {{item.productName || 'P&S'}}
                        </div>                      
                        +                
                        <div>                        
                            {{item.quantity || 'QUANTITE'}}
                        </div>
                    </div>
                </div>
                <div class="col-50 shadow-box box dealvalue">
                    <input class ="verticalcenter" type="number" placeholder="SAISIR MONTANT TTC" ng-model="item.productPrice">
                </div>                               
            </div>
            <div class="row">
                <div class="col-50 shadow-box box dealvalue">
                     <input class ="verticalcenter" type="text" placeholder="DIVERS" ng-model="item.diver">
                </div>
                <div class="col-50 shadow-box box dealvalue">
                     <input class ="verticalcenter" type="number" placeholder="SAISIR MONTANT TTC" ng-model="item.diverPrice">
                </div>                
            </div>
            <div class ="row">
                <div class ="cashorfunding">
                    <div class="row">
                        <div class="col-50 box">
                                HT: 
                                <input value='{{((item.productPrice + item.diverPrice)*10/11).toFixed(2)}}'></input>
                                €
                        </div>
                        <div class = "col-50 box">
                            TTC: 
                            <input value = '{{item.productPrice + item.diverPrice}}'></input>
                            €
                        </div>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>   

	 
    

    <div>
    	<div class ="row">
    		<div class ="button-bar switch">
    			<a class="button button-light" ng-class="{'button-positive': vm.isChoosen('cash')}" ng-click="vm.choose('cash')">COMPANT</a>
                <a class="button button-light" ng-class="{'button-positive': vm.isChoosen('funding')}" ng-click="vm.choose('funding')">FINANCEMENT</a>
    		</div>
    	</div>
    </div>
	<div class ="row">
        <div class ="cashorfunding">
            <div class="row">
        		<div class="col-50 box">
        			HT: 
        			<input ng-model="vm.cashValue"></input>
        			€
        		</div>
        		<div class = "col-50 box">
        			TTC: 
        			<input ng-model="vm.fundingValue"></input>
        			€
        		</div>
            </div>
        </div>
	</div>
    <div>
    	<div class ="row">
    		<div class = "col-25 shadow-box pointsale" ng-click="vm.addnewproduct()"> + P&S</div>
    		<div class = "col-25">
    		</div>
    		<div class = "col-25 confirmer">
    			<button class ="button shadow-box" ng-click="vm.submit()">
    			     CONFIRMER
    			</button>                
    		</div>
    	</div>
    </div>
</div>
