<ion-view view-title="RDV" class="seller">
	<ion-nav-bar class="nav-bar-transparent">  
		<ion-nav-back-button>
        </ion-nav-back-button>   
    </ion-nav-bar>

    <ion-content class="appointment-view behide-nav-bar">
    	<ng-include src="'app/views/profile-heading.html'"></ng-include>
    	
    	<div class="row-2 padding-shadow-3">	
    		<div class="row">
    			<div class="col-33 shadow-box box appointment" ng-click="vm.goto('appointment')" ng-class="{'current-view':vm.view('appointment')}">
	                <div>
	                    RDV
	                </div>
	            </div>
	            <div class="col-33 shadow-box box sale" ng-click="vm.goto('sale')" ng-class="{'current-view':vm.view('sale'),'sale-created':vm.saleCreated}">
	                <div>
	                    VENTE
	                    <p ng-if="vm.canCreateSale()">créer</p>
	                </div>
	            </div>
	            <div class="col-33 shadow-box box service" ng-click="vm.goto('service')" ng-class="{'current-view':vm.view('service'),'service-created':vm.serviceCreated}">
	                <div>
	                    SERVICE
	                    <p ng-if="vm.canCreateService()">créer</p>
	                </div>
	            </div>
    		</div>
    	</div>
    	<ng-include src="'app/views/seller-appointment.html'" ng-show="vm.view('appointment')"></ng-include>
    	<ng-include src="'app/views/seller-sale.html'" ng-show="vm.view('sale')"></ng-include>
    	<ng-include src="'app/views/seller-service.html'" ng-show="vm.view('service')"></ng-include>
    </ion-content>
</ion-view>
