<div class="seller-create" ng-controller="sellerSaleCreate">  
    <ng-include src="'app/views/seller-sale-create.html'" ng-if="vm.isStatus('new')"></ng-include>
    <ng-include src="'app/views/seller-sale-pending.html'" ng-if="vm.isStatus('pending')"></ng-include>
    <ng-include src="'app/views/seller-sale-approve.html'" ng-if="vm.isStatus('approve')"></ng-include>
    <ng-include src="'app/views/seller-additional-sale-approve.html'" ng-if="vm.isStatus('additionalapprove')"></ng-include>
</div>
