<ion-view view-title="Splash" hide-nav-bar="true">
	<ion-content class="splash">
        <img id="bigstat_logo" class="logo" src="img/bs-logo-full.svg" alt="BigStat App">
    </ion-content>
</ion-view>