  <div class="sim">Role: {{$root.usercontext.role}}</div>
<ion-tabs class="tabs-color-active-positive tabs-icon-only main-tabs">
  <ion-tab title="Dashboard" icon-off="ion-ios-speedometer" icon-on="ion-ios-speedometer" href="#/tab/dashboard">
    <ion-nav-view name="dashboard"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Agenda" icon-off="ion-ios-bookmarks" icon-on="ion-ios-bookmarks" href="#/tab/agenda">
    <ion-nav-view name="agenda"></ion-nav-view>
  </ion-tab>
  <ion-tab title="prize" icon-off="ion-podium" icon-on="ion-podium" href="#/tab/prize">
    <ion-nav-view name="prize"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/search/appointment">
    <ion-nav-view name="search"></ion-nav-view>
  </ion-tab>
  <ion-tab title="More" icon-off="ion-navicon" icon-on="ion-navicon" ng-click="vm.popOverClick($event)">    
  </ion-tab>
</ion-tabs>

<script id="more-template" type="text/ng-template">
  <ion-popover-view class="popover-more">
    <ion-content>
      <ion-list>        
        <a class="item item-icon-left" href="#">
          <i class="icon ion-person"></i>
          Profil
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-person"></i>
          My BigStat
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-person"></i>
          Gérer
        </a>
        <a class="item item-icon-left" ng-click="vm.logout()">
          <i class="icon ion-unlocked"></i>
          Déconnexion
        </a>
      </ion-list>
    </ion-content>
  </ion-popover-view>
</script>
